.side-spacers {
  padding: 0px 50% 85% 0px;
}

.text-input {
  width: 100%;
  font-family: "Helvetic Neue", "Courier New", Courier;
}

.description-input {
  width: 100%;
  font-family: "Helvetic Neue", "Courier New", Courier;
  height: 75%;
}

.watch {
  color: #2699fb;
}
.mat-slide-toggle {
  margin: 8px 0;
  display: block;
  font-family: "Helvetic Neue", "Courier New", Courier;
  border-color: #418bba;
  color: #707070;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  font-family: "Helvetic Neue", "Courier New", Courier;
  color: #707070;
  border-color: #418bba;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-family: "Helvetic Neue", "Courier New", Courier;
  color: #707070;
  border-color: #418bba;
}

.min-box {
}

.max-box {
}

.specifics-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}

.text {
  font-family: "Helvetic Neue", "Courier New", Courier;
  border-color: #418bba;
  color: #707070;
}
.text-back {
  font-family: "Helvetic Neue", "Courier New", Courier;
  color: #707070;
}
