.largest-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.entire-page {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  margin: 2% 6% 1% 5%;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.left_1 {
  display: flex;
  width: 100%;
  height: 79%;
  flex-direction: column;
}
.post-description {
  display: flex;
  width: 100%;
  height: 30%;
}
.post-pic-video {
  display: flex;
  margin-top: 3%;
  height: 100%;
  width: 100%;
}
.upload {
  display: flex;
  height: 80%;
  width: 100%;
}

.post {
  display: flex;
  width: 100%;
  height: 100%;
}
.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2%;
  width: 100%;
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  margin: 7% 1% 5% 1%;
  width: 100%;
  position: relative;
}
.search-posting-page {
  display: flex;
  width: 50%;
  position: relative;
}
mat-slider {
  width: 300px;
}
.sliders {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  box-sizing: border-box;
}
.text-input {
  margin-top: 5%;
}

.description-input {
  width: 75%;
}

.watch {
  color: #2699fb;
  display: flex;
  margin-left: 35%;
}
.mat-slide-toggle {
  margin: 8px 0;
  display: block;
  border-color: #418bba;
  color: #707070;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  color: #707070;
  border-color: #418bba;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: #707070;
  border-color: #418bba;
}

.specifics-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}

.text {
  border-color: #418bba;
  color: #707070;
  width: 40%;
}
.text-back {
  color: #194ec2;
  width: 75%;
}
.row {
  display: flex;
  flex-direction: row;
}
.column_1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
.amount-people {
  margin-bottom: 5%;
}
.back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}
