<div class="entire-page">
  <!-- left -->
  <div class="left">
    <!--main logo  -->
    <div class="logo">
      <img Src="../../assets/Pics/ProperInAppLogo.jpeg" class="logo" />
    </div>

    <!-- Title of post input -->
    <div>
      <mat-form-field class="text-input"
        ><mat-label>Title of Post</mat-label>
        <input matInput type="Title" placeholder="" />
      </mat-form-field>

      <!-- Description input -->
      <div>
        <mat-form-field class="description-input"
          ><mat-label>Description of post</mat-label>
          <input matInput type="" placeholder="" />
        </mat-form-field>
      </div>
      <!-- New Box -->
      <div class="row">
        <div style="margin-right: 5%">
          <textarea class="post" rows="7" cols="50"> </textarea>
        </div>
        <!-- New New Box -->
        <div class="column">
          <div class="row">
            <!-- Clock icon -->
            <div style="margin-right: 30%">
              <div class="watch">
                <mat-icon>watch_later</mat-icon>
              </div>

              <!-- text -->
              <div>
                <p class="text" style="width: 95px">Plan The Event</p>
              </div>
            </div>
            <!-- amount of people stepper -->
            <div class="column">
              <div class="amount-people">
                <label for="points">Amount of people</label>
                <input type="number" id="steper" name="points" step="1" />
              </div>

              <!-- Age range input -->
              <p class="row" name="max&min">
                <label for="max&min">Age Range</label>
                <span class="min-box">
                  <input
                    type="number"
                    min="0"
                    max="100"
                    step="1"
                    placeholder="Min:"
                  />
                </span>
                <span class="max-box">
                  <input
                    type="number"
                    min="0"
                    max="100"
                    step="1"
                    placeholder="Max:"
                  />
                </span>
              </p>
            </div>
          </div>

          <!-- Choosing date of event range  -->
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- Newest Box -->
          <div class="row">
            <!-- tag friends -->
            <span style="margin-right: 5%">
              <mat-form-field class="search-textfield">
                <span class="material-icons-search"> </span>
                <mat-label>Tag friends:</mat-label>
                <input
                  matInput
                  type="tag friends"
                  placeholder=""
                  value=""
                /> </mat-form-field
            ></span>
          </div>
        </div>
      </div>
      <!-- back button -->
      <div>
        <button mat-flat-button class="text-back">Back</button>
      </div>

      <!-- text and sliders and hover over i -->
    </div>
  </div>
  <!-- right -->
  <div class="right">
    <mat-slide-toggle ngModel value="primary" name="driving"
      >Able to drive members</mat-slide-toggle
    >
    <mat-slide-toggle ngModel value="primary" name="males" required
      >Males</mat-slide-toggle
    >
    <mat-slide-toggle ngModel value="primary" name="females" required
      >Females</mat-slide-toggle
    >
    <mat-slide-toggle ngModel value="primary" name="males" required
      >Other</mat-slide-toggle
    >

    <mat-slide-toggle ngModel value="primary" name="males" required
      >Formal event
      <div class="tooltip">
        <span class="material-icons"> info </span>
        <span class="tooltiptext"
          >Members are expected to act with a level of professionalism.
        </span>
      </div>
    </mat-slide-toggle>

    <mat-slide-toggle ngModel value="primary" name="males" required
      >Relaxed event
      <div class="tooltip">
        <span class="material-icons"> info </span>
        <span class="tooltiptext"> This is not a proffesional event. </span>
      </div>
    </mat-slide-toggle>
    <!-- </form> -->

    <!-- search -->
    <span>
      <mat-form-field class="search-textfield">
        <span class="material-icons-search"> </span>
        <mat-label><span class="material-icons"> search </span></mat-label>
        <input matInput type="search" placeholder="Search:" /> </mat-form-field
    ></span>
    <!-- specifics box -->
    <div>
      <textarea class="outside-input-boxs" rows="20" cols="30"> </textarea>
    </div>
    <!-- post button and arrow icon -->
    <span>
      <button mat-raised-button class="text">
        Post
        <span class="material-icons"> arrow_forward </span>
      </button>
    </span>
  </div>
</div>
