.largest-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.amount-peopleD {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: center;
}
.amount-peopleM {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.entire-page {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.all-welcome {
  display: flex;
  flex-direction: row;
}
.back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1024px) {
  .bottom-mobile {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
@media (min-width: 1024px) {
  .bottom-mobile {
    display: none;
  }
}
.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
.btn {
  display: flex;
  width: 10%;
}
.btn_ {
  display: flex;
  justify-content: center;
  width: 10%;
}
.btm-rightM {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}
.column {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.column_1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.column_2 {
  display: flex;
  flex-direction: column;
}
.description-input {
  width: 75%;
}

.friends-search {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .left {
    display: flex;
    flex-direction: column;
    margin: 2% 2% 1% 2%;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .left {
    display: none;
  }
}
.location {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.location-options {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  height: 25%;
  width: 100%;
  border: solid;
  border-radius: 7%;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.left-btm-mobile {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
}
.left_1 {
  display: flex;
  width: 100%;
  height: 67%;
  flex-direction: column;
}
mat-slide-toggle {
  width: fit-content;
}
.mat-slide-toggle {
  margin: 8px 0;
  display: block;
  color: #0b38dc;
}
.mat-radio-group {
  display: flex;
  width: 100%;
}

@media (min-width: 1024px) {
  mat-tab-group {
    display: none;
  }
}
@media (max-width: 1024px) {
  mat-tab-group {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
.margin {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
}
@media (max-width: 1024px) {
  .mobile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 1024px) {
  .mobile-page {
    display: none;
  }
}

@media (max-width: 1024px) {
  .middleM {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 1%;
    margin-right: 8%;
  }
}
@media (min-width: 1024px) {
  .middleM {
    display: none;
  }
}

@media (min-width: 1024px) {
  .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .middle {
    display: none;
  }
}
.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
p {
  display: flex;
  color: #0b38dc;
}
.post-final {
  display: flex;
  position: relative;
  justify-content: center;
}
.pre-file-img {
  background-image: url(../../assets/Pics/WhiteSquareInAppLogo.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  size: 100%;
}
.post-descriptionD {
  display: flex;
  width: 100%;
}

.post-descriptionM {
  display: flex;
  width: 100%;
  height: 100%;
}
.post-pic-video {
  display: flex;
  margin-top: 3%;
  background-image: url(../../assets/Pics/WhiteSquareInAppLogo.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.post {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid;
  overflow-y: scroll;
  border-color: #2668bb;
}
.post-location {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;
}
.row {
  display: flex;
  flex-direction: row;
}
@media (min-width: 1024px) {
  .right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: 2%;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .right {
    display: none;
  }
}
.right-mid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.right-btm-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
}
.search-posting-page {
  display: flex;
  width: 50%;
  position: relative;
}

.sliders {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.specifics-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}
.second-list {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.second-select-mobile {
  display: flex;
  border: solid;
  overflow-y: scroll;
  height: 100%;
}
.tagged-friends {
  display: flex;
  scroll-behavior: smooth;
  overflow-y: hidden;
  border: solid;
  border-color: #2668bb;
}
.text {
  color: gold;
  width: fit-content;
  border: solid;
  width: 50%;
}
.text-back {
  color: #000;
  width: 75%;
  border: solid;
}

.tagged-friends-box {
  display: flex;
  height: 20%;
  justify-content: center;
}
.trio {
  display: flex;
  flex-direction: row;
}
.trio_ {
  display: flex;
  flex-direction: row;
}
.trioD {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 3%;
}
.text-input {
  margin-top: 5%;
}
@media (min-width: 1024px) {
  .top .top-left {
    display: none;
  }
}

@media (max-width: 1024px) {
  .top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2%;
  }
}
@media (max-width: 1024px) {
  .top-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.uploadD {
  display: flex;
  height: 100%;
  width: 100%;
  border: solid;
  border-color: #2668bb;
  box-sizing: border-box;
}
.upload {
  display: flex;
  height: 100%;
  border: solid;
  border-color: #2668bb;
  box-sizing: border-box;
}

.watch {
  color: #2699fb;
  display: flex;
  margin-left: 35%;
}
