<form [formGroup]="mainForm" (ngSubmit)="onSubmit()" class="entire-page">
  <!-- Entire page -->
  <div class="entire-page">

    <!-- Extra Search Desktop -->
    <div class="middle-large">
      <!-- middle ish -->
      <div class="middle">
        <!-- Specifics text {{}} after : -->
        <div class="text" style="font-size: large;">Similar Searches
          {{ specificOptions }} </div>



        <!-- Specifics box which gets filled depending
on which main category page your on-->
        <div class="specifics-input">
          <!-- <div class="specifics-fill">

          </div> -->


        </div>
      </div>

    </div>

    <!-- Right wall -->
    <div class="right-wall">


      <!-- General choice appears at top of feed and dissapears as user scrolls -->
      <div class="top">
        <div class="specificChoice">
          {{ specific }}

        </div>

        {{ category }}
      </div>

      <app-card class="fit"></app-card>

    </div>

  </div>
</form>