.entire-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10%;
}
.left-input {
  background-color: #2196f3;
}
@media (min-width: 1024px) {
  .middle-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 5%;
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .middle-large {
    display: none;
  }
}
.middle-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 5% 2% 5%;
}

.middle {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.feed {
  display: flex;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .right-wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0% 0% 2%;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .right-wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
.text {
  justify-content: center;
  display: flex;
  color: #000000;
  border-color: #418bba;
}
.top {
  display: flex;
}
.specifics-fill {
  display: flex;
  width: 100%;
  height: 100%;
  border: groove;
}
.specifics-input {
  display: flex;
  width: 100%;
  height: 100%;
}
.text-scroll {
  overflow: scroll;
  color: #707070;
  border-color: #418bba;
}
.material-icons {
  display: flex;
  justify-content: center;
}

.tooltip .tooltiptext {
  display: flex;
  visibility: hidden;
  color: #707070;
  border-color: #418bba;
  justify-content: center;
}

.tooltip:hover .tooltiptext {
  display: flex;
  justify-content: center;
  visibility: visible;
  color: #707070;
  border-color: #418bba;
}

// Search bar
* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 5px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
