.side-spacers {
  padding: 0px 50% 85% 0px;
}

.text {
  position: relative;
  font-family: "Helvetic Neue", "Courier New", Courier;
  font-size: 30;
  color: #707070;
  border-color: #418bba;
}

.search-textfield {
  width: 30%;
  min-width: 15%;
  max-width: 70%;
}

.text-scroll {
  overflow: scroll;
  position: relative;
  font-family: "Helvetic Neue", "Courier New", Courier;
  font-size: 30;
  color: #707070;
  border-color: #418bba;
}
