 <form [formGroup]="mainForm" (ngSubmit)="onSubmit()" class="entire-page">
<!-- Entire page -->
<div class="entire-page">

  <!-- Middle -->
  <div class="middle-large">
    
   
      
      <!-- middle ish -->
      <div class="middle">
        <!-- Search Bar -->
          

        <!-- Specifics text {{}} after : -->
        <p class="text" style="font-size: large;">Specifics: </p>

        <!-- text beside Specifics that indicates which 
page your own for that given main category -->

        <!-- Specifics box which gets filled depending
on which main category page your on-->
        <div class="specifics-input">
          <div class="specifics-fill" > </div>
        </div>
      </div>
    
  </div>
  <!-- Right wall -->
  <div class="right-wall">
    

    <!-- Specific choice appears at top of feed and dissapears as user scrolls -->
    <div class="top">
      <!-- {{specific}} -->
    </div>

    <!-- Posts box which should be a scroll view -->
    <div class="feed">
      <mat-card class="specifics-fill" >
        <mat-card-header>
          <!-- Profile Pic -->
<div mat-card-avatar></div>
<mat-card-title>
  <div class="row">
    <!-- {{userName}} --><div>Olsen07</div>
    <!-- {{title}} --><div>Best Post</div> 
     <!--{{Location}} --><div>Location</div>  
      <!--{{date}} --><div>Date/Time</div>  
  </div>
</mat-card-title>
        </mat-card-header>
        <!-- Takes upload img/video from post page {{upload}} -->
      <img >
      <mat-card-content>
        <!-- Like, Join Chat, What post wanted to say -->
      </mat-card-content>
      <mat-card-actions>
        
      </mat-card-actions>
      
      
      
      </mat-card>
    </div>
  </div>
</div>
</form>
