<!-- Posts box which should be a scroll view -->

<div class="feed">
  <mat-card class="specifics-fill">
    <!-- Profile Pic -->
    <div class="column">
      <div class="row">
        <div class="column">
          <div class="centerT">
            <!-- {{title}} -->
            <div class="postTitle textSize">
              {{ (post | async)?.Title}}
              <!-- Post Title -->
            </div>
          </div>
          <div class="row2">
            <div class="column">
              <div class="row-" *ngIf="(profile | async)?.profPic">
                <div class="profilePic">
                  <!-- need to get croppeded value -->
                  <img class="pic" src="{{(profile | async)?.profPic}}">
                  <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> -->
                </div>

                <div class="column1">
                  <div class="linkN">
                    {{ (profile | async)?.Name}}
                  </div>



                  <div class="nameTitle">
                    <!-- Button directs to that users profile -->
                    <button mat-button>
                      <div class="userName  link">
                        <!-- Olsen07 -->
                        {{( id | async)?.UserName}}
                      </div>
                    </button>
                  </div>
                </div>


              </div>


              <div class="row-" *ngIf="!(profile | async)?.profPic">


                <div class="profilePic">
                  <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
                </div>


                <div class="column1">
                  <div class="linkN">
                    {{ (profile | async)?.Name}}
                  </div>

                  <div class="nameTitle">
                    <!-- Button directs to that users profile -->
                    <button mat-button>
                      <div class="userName  link">
                        <!-- Olsen07 -->
                        {{( id | async)?.UserName}}
                      </div>
                    </button>
                  </div>
                </div>


              </div>





            </div>

            <div class="row1">
              <div class="column_">
                <div class="textSize row1 t">
                  <!-- {{Specific}}Specific Page -->
                  {{ (post | async)?.FirstFormGroup.locationEvent}}
                </div>
                <mat-card-subtitle class="row1">
                  <!--{{Location}} -->
                  <div class="postLocation textSize t">
                    <!-- Location -->
                    {{ (post | async)?.postLocation}}
                  </div>
                  <!--{{Date}} -->
                  <!-- make  column -->
                  <div class="postTime textSize column1">
                    <div class="displayT t">
                      {{ (post | async)?.FirstFormGroup.date | date:"longDate"}}
                    </div>
                    <div class="displayT t">
                      {{ (post | async)?.FirstFormGroup.time}}</div>
                  </div>
                </mat-card-subtitle>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Import the boolean icons with no color originally then the what did user say.. if null then display="none" -->
      <div class="row">
        <div class="booleans">
          <!-- the gender$ observable should check its value and if it matches female, male , or all 
          then displays appropriate class
        
        or make indivi observables for each one and === true
        -->

          <!-- [ngClass]="(gender$ | async ) === female
          ? 'female' : 'hide' "  -->
          <p class="fas fa-venus" *ngIf="(post | async)?.SecondFormGroup"></p>
          <!-- [ngClass]="(gender$ | async ) === all
          ? 'all' : 'hide' " -->
          <p class="fas fa-transgender-alt" *ngIf="(post | async)?.SecondFormGroup"></p>
          <!-- [ngClass]="(gender$ | async ) === male
          ? 'male' : 'hide' "  -->
          <p class="fas fa-mars" *ngIf="(post | async)?.SecondFormGroup"></p>




          <!-- [ngClass]="(boolean$.driver | async ) === true
          ? 'car' : 'hide' "  -->
          <p class="fas fa-car" *ngIf="(post | async)?.ThirdFormGroup"></p>
          <!-- [ngClass]="(boolean$.paymentService | async ) === true
          ? 'money' : 'hide' " -->
          <p class="fas fa-dollar-sign" *ngIf=" (post | async)?.ThirdFormGroup"></p>


          <!-- [ngClass]="(event$ | async ) === formal
          ? 'formal' : 'hide' " -->
          <p class="fas fa-user-tie" *ngIf="(post | async)?.FourthFormGroup"></p>
          <!-- [ngClass]="(event$ | async ) === relaxed
          ? 'relaxed' : 'hide' " -->
          <p class="fas fa-glass-cheers" *ngIf="(post | async)?.FourthFormGroup"></p>
        </div>

      </div>
    </div>

    <!-- Takes upload img/video from post page {{Upload}} -->
    <!-- *ngFor="let show of showCases" -->
    <div class="upload" *ngIf="(post|async)?.Upload  ">

      <img class="middle-card" src="{{  (post|async)?.Upload   }}">
    </div>

    <div>


      <!-- Star button that takes you to that group chat. Attending, Maybe, Can't Attend with list from bottom which shows pp and username -->
      <div class="rowM">
        <div class="center1">
          <div class="center"> <button mat-icon-button (click)="openTaggedSheet()">
              <p class="fas fa-user-tag"></p>
            </button></div>
          <div class="center"> <button mat-icon-button>
              <p class="far fa-comments center" routerLink="/groups"></p>
            </button> </div>
        </div>


        <div class="column1">
          <button mat-button [matMenuTriggerFor]="menu" class="row1">Attendance</button>
          <mat-menu #menu="matMenu" class="center">

            <div *ngFor="let attendance of attendances" class="centerB">

              <input type="radio" name="attend" value="{{attendance}}" class="center" (change)="radioChange($event)">
              <div class="row1">{{attendance}}</div>



            </div>

          </mat-menu>
          <!-- Displays your attending status -->
          <div class="center1">
            <button (click)="openAttendanceSheet()" mat-button class="textSize "> {{selectedAttend}}</button>

          </div>

        </div>
      </div>


    </div>
    <div>

      <div class="postText">
        <!-- {{description | async}} -->

      </div>


    </div>


  </mat-card>

</div>