<!-- Posts box which should be a scroll view -->
<div class="feed">
  <mat-card class="specifics-fill">
    <!-- Profile Pic -->
    <div class="column">
      <div class="row">
        <div class="column">
          <div class="centerT">
            <!-- {{title}} -->
            <mat-card-subtitle class="postTitle textSize">
              {{ (post | async)?.Title}}
              <!-- Post Title -->
            </mat-card-subtitle>
          </div>
          <div class="row2">
            <div class="column">
              <div class="profilePic" *ngIf="(profile | async)?.profPic">
                <!-- need to get croppeded value -->
                <img class="pic" src="{{(profile | async)?.profPic}}">
                <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> -->
              </div>

              <div class="profilePic" *ngIf="!(profile | async)?.profPic">
                <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
              </div>
              <div class="nameTitle">
                <!-- Button directs to that users profile -->
                <button class="link" mat-button>
                  <!-- {{userName}}: -->
                  <mat-card-title class="userName textSize">
                    <!-- Olsen07 -->
                    {{( id |async)?.UserName}}
                  </mat-card-title>
                </button>
              </div>
            </div>

            <div class="row1">
              <div class="column_">
                <mat-card-title class="textSize row1">
                  <!-- {{Specific}}Specific Page -->
                  {{ (post | async)?.FirstFormGroup.locationEvent}}
                </mat-card-title>
                <mat-card-subtitle class="row1">
                  <!--{{Location}} -->
                  <div class="postLocation textSize">
                    <!-- Location -->
                    {{ (post | async)?.postLocation}}
                  </div>
                  <!--{{Date}} -->
                  <!-- make  column -->
                  <div class="postTime textSize">
                    {{ (post | async)?.FirstFormGroup.date}}
                    {{ (post | async)?.FirstFormGroup.time}}
                  </div>
                </mat-card-subtitle>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Import the boolean icons with no color originally then the what did user say.. if null then display="none" -->
      <div class="row">
        <div class="booleans">
          <!-- the gender$ observable should check its value and if it matches female, male , or all 
          then displays appropriate class
        
        or make indivi observables for each one and === true
        -->

          <!-- [ngClass]="(gender$ | async ) === female
          ? 'female' : 'hide' "  -->
          <p class="fas fa-venus"></p>
          <!-- [ngClass]="(gender$ | async ) === all
          ? 'all' : 'hide' " -->
          <p class="fas fa-transgender-alt"></p>
          <!-- [ngClass]="(gender$ | async ) === male
          ? 'male' : 'hide' "  -->
          <p class="fas fa-mars"></p>


          <!-- [ngClass]="(boolean$.driver | async ) === true
          ? 'car' : 'hide' "  -->
          <p class="fas fa-car"></p>
          <!-- [ngClass]="(boolean$.paymentService | async ) === true
          ? 'money' : 'hide' " -->
          <p class="fas fa-dollar-sign"></p>


          <!-- [ngClass]="(event$ | async ) === formal
          ? 'formal' : 'hide' " -->
          <p class="fas fa-user-tie"></p>
          <!-- [ngClass]="(event$ | async ) === relaxed
          ? 'relaxed' : 'hide' " -->
          <p class="fas fa-glass-cheers"></p>
        </div>

      </div>
    </div>

    <!-- Takes upload img/video from post page {{Upload}} -->
    <div class="upload" *ngFor="let show of showCases">
      <!-- -->
      <!-- ../../assets/Pics/ProperInAppLogo.jpeg -->
      <!-- ../../assets/Pics/WhiteSquareInAppLogo.jpg -->

      <img class="middle-card" src="{{show}}">
    </div>

    <div>


      <!-- Star button that takes you to that group chat. Attending, Maybe, Can't Attend with list from bottom which shows pp and username -->
      <div class="rowM">
        <div class="center1">
          <div class="center"> <button mat-icon-button (click)="openTaggedSheet()">
              <p class="fas fa-user-tag"></p>
            </button></div>
          <div class="center"> <button mat-icon-button>
              <p class="far fa-comments center" routerLink="/groups"></p>
            </button> </div>
        </div>


        <div class="column1">
          <button mat-button [matMenuTriggerFor]="menu" class="row1">Attendance</button>
          <mat-menu #menu="matMenu" class="center">

            <div *ngFor="let attendance of attendances" class="centerB">

              <input type="radio" name="attend" value="{{attendance}}" class="center" (change)="radioChange($event)">
              <div class="row1">{{attendance}}</div>



            </div>

          </mat-menu>
          <!-- Displays your attending status -->
          <div class="center1">
            <button (click)="openAttendanceSheet()" mat-button class="textSize "> {{selectedAttend}}</button>

          </div>

        </div>
      </div>


    </div>
    <div>

      <div class="postText">
        <!-- {{description | async}} -->

      </div>


    </div>


  </mat-card>

</div>