<div style="background-color: rgb(235, 235, 245)" class="entire-page">
  <!-- logo -->
  <div class="top">
    <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
  </div>
  <!-- middle -->
  <div class="middle">
    <!-- Text -->
    <div class="plain-text">
      <p class="text">Enter your student email to reset your password</p>
    </div>

    <!-- Email input -->
    <div class="email">
      <mat-form-field class="text"
        ><mat-label>U Of T email</mat-label>
        <input matInput placeholder="name@mail.utoronto.ca" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon class="clear-button">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- buttons -->
    <div class="beside">
      <!-- Send button -->
      <button mat-raised-button color="primary" class="action-button">
        Send
      </button>

      <!-- Cancel button -->
      <span>
        <button mat-raised-button color="basic" class="action-button">
          Cancel
        </button>
      </span>
    </div>
  </div>
  <!-- seperating line -->
  <div class="line">
    <span class="material-icons"> horizontal_rule </span>
  </div>
  <!-- bottom -->
  <div class="bottom">
    <!-- inputs -->
    <div class="inputs">
      <!-- Email input for log in -->
      <div class="email">
        <mat-form-field class="text"
          ><mat-label>U Of T email</mat-label>
          <input matInput placeholder="@mail.utorontoEmail" />
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon class="clear-button">close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Email input for log in -->
      <div class="password">
        <mat-form-field class="text"
          ><mat-label>Password</mat-label>
          <input matInput placeholder="Password:" />
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon class="clear-button">close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <!-- Send button -->
    <div class="login">
      <button mat-raised-button color="primary" class="action-button">
        Log In
      </button>
    </div>
  </div>
</div>
