.side-spacer {
  width: 25%;
}

.text {
  color: #0f17e6;
  border-color: #707070;
  font-size: 43px;
  font-family: "Helvetic Neue", "Courier New", Courier;
  width: 25%;
}
.text-field-email {
  color: #0f17e6;
  border-color: #707070;
  font-size: 43px;
  font-family: "Helvetic Neue", "Courier New", Courier;
}

.action-button {
  font-size: 16px;
  width: 50%;
  font-family: "Helvetic Neue", "Courier New", Courier;
}

.material-icons {
  border-color: #001cb7;
  width: 50%;
}
