<!-- logo -->
<div class="side-spacer">
  <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" />
</div>

<!-- Text -->
<div>
  <p class="text">Enter your student email to reset your password</p>
</div>

<!-- Email input -->
<div>
  <mat-form-field class="text"
    ><mat-label>U Of T email</mat-label>
    <input matInput placeholder="@mail.utorontoEmail" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon class="clear-button">close</mat-icon>
    </button>
  </mat-form-field>
</div>

<!-- Send button -->
<button mat-raised-button color="primary" class="action-button">Send</button>

<!-- Cancel button -->
<span>
  <button mat-raised-button color="basic" class="action-button">Send</button>
</span>

<!-- seperating line -->
<div>
  <span class="material-icons"> horizontal_rule </span>
</div>

<!-- Email input for log in -->
<div>
  <mat-form-field class="text"
    ><mat-label>U Of T email</mat-label>
    <input matInput placeholder="@mail.utorontoEmail" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon class="clear-button">close</mat-icon>
    </button>
  </mat-form-field>
</div>

<!-- Email input for log in -->
<span>
  <mat-form-field class="text"
    ><mat-label>Password</mat-label>
    <input matInput placeholder="Password:" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon class="clear-button">close</mat-icon>
    </button>
  </mat-form-field>
</span>

<!-- Log in button -->
<div>
  <!-- Send button -->
  <button mat-raised-button color="primary" class="action-button">
    Log In
  </button>
</div>
