.accounts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.Accounts {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.asthetic-adds {
  color: #418bba;
  border-color: #707070;
  display: flex;
}
.bio {
  display: flex;
  width: 100%;
}
.entire-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.courses {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 2%;
}
.cropper {
  display: flex;
  max-height: 260px;
}
@media (min-width: 1024px) {
  .display {
    display: flex;
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .display {
    display: flex;
    width: 75%;
  }
}
.done {
  justify-content: center;
  display: flex;
}
.gender {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .work {
    display: flex;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 2%;
  }
}
@media (max-width: 1024px) {
  .work {
    display: flex;
    margin-top: 2%;
  }
}
@media (min-width: 1024px) {
  .groups-jj {
    display: flex;
    justify-content: center;
    margin: 1% 21%;
    height: 100px;
    border: ridge;
    box-sizing: border-box;
    overflow-y: scroll;
  }
}
@media (max-width: 1024px) {
  .groups-jj {
    display: flex;
    justify-content: center;
    margin: 1% 0%;
    height: 100px;
    border: ridge;
    box-sizing: border-box;
    overflow-y: scroll;
  }
}
.groups-j {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 260px;
  border: ridge;
  box-sizing: border-box;
  overflow-x: scroll;
}
.top {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.major-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-column {
  display: flex;
  flex-direction: column;
}
.imagePreview {
  display: flex;
  width: 270px;
  height: 270px;
  margin-bottom: 3%;
}
.input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.recent-post-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: ridge;
}
@media (min-width: 1024px) {
  .row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .rowP {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 2% 0%;
    overflow-x: scroll;
  }
}
@media (max-width: 900px) {
  .rowP {
    display: flex;
    flex-direction: row;
    margin: 2% 0%;
    overflow-x: scroll;
  }
}
@media (min-width: 1024px) {
  .smaller {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .smaller {
    width: 50%;
  }
}
.snapShot {
  display: flex;
  width: 100%;
  justify-content: center;
}
.right-column {
  display: flex;
  flex-direction: column;
}
.personalizeLarge {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  max-height: 350px;
  margin: 1% 0% 3%;
}
.private-public {
  display: flex;
  flex-direction: row;
}
.pic-box {
  display: flex;
  justify-content: center;
}
.pic {
  border-radius: 50%;
  width: 90%;
  height: 100%;
}
.pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
}
.layout {
  margin-bottom: 2%;
  display: flex;
  justify-content: row;
}
.text {
  color: #0e3379;
}
.twoBoxs {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.bio-box {
  padding: 25px;
  border: 1px solid gray;
  border-radius: 16px;
}

@media (min-width: 1024px) {
  ::ng-deep mat-form-field {
    display: flex;
    width: 40%;
  }
}
@media (max-width: 1024px) {
  ::ng-deep mat-form-field {
    display: flex;
    width: 100%;
  }
}
.icon {
  display: flex;
  justify-content: center;
  margin-right: 1%;
  font-size: xx-large;
  color: #418bba;
}
._icon {
  display: flex;
  justify-content: center;
  margin-right: 1%;
  font-size: xx-large;
  flex-direction: column;
  color: #418bba;
}
@media (min-width: 660px) {
  ._icon2 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    flex-direction: column;
    color: #418bba;
  }
}
@media (max-width: 660px) {
  ._icon2 {
    display: none;
  }
}
.input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}
.inputP {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.inputText {
  display: flex;
  width: 35%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  color: #707070;
  border-color: #418bba;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: #707070;
  border-color: #418bba;
}

.full-name-text {
  position: relative;
  font-size: 30;
  width: 143px;
  height: 35px;
  color: #707070;
  border-color: #418bba;
}

.full-name-textfield {
  position: relative;
  width: 456.89px;
  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
}

.birthday-text {
  width: 121px;
  height: 35px;
  color: #707070;
  border-color: #418bba;
}

.text-field-gender {
  position: relative;
  width: 456.89px;
  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
}

.text-field-relationship {
  position: relative;
  width: 456.89px;
  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
  font-size: 30;
}
