.entire-page {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.middle {
  display: flex;
  flex-direction: row;
}
.left-column {
  display: flex;
  flex-direction: column;
  margin: 1% 15% 2% 15%;
}
.right-column {
  display: flex;
  flex-direction: column;
  margin: 2% 10% 2% 20%;
}
.private-public {
  display: flex;
  flex-direction: row;
}
.pic-box {
  display: flex;
  justify-content: center;
}
.pic {
  border-radius: 50%;
  width: 90%;
  height: 100%;
}

.text {
  color: #0e3379;
}

.bio-box {
  padding: 25px;
  border: 1px solid gray;
  border-radius: 16px;
}

.major-text {
  position: relative;

  font-size: 30;
  width: 171px;
  height: 35px;
  color: #707070;
  border-color: #418bba;
}

.major-textfield {
  position: relative;
  width: 696.89px;

  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
}

.club-text {
  position: relative;
  width: 155px;
  height: 35px;
  color: #707070;
  border-color: #418bba;
}

.club-textfield {
  position: relative;
  width: 155px;
  height: 35px;
  border-radius: 7%;
  border-color: #707070;
}

.button {
  margin: 8px 0;
  font-size: 40px;
  color: #707070;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  color: #707070;
  border-color: #418bba;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: #707070;
  border-color: #418bba;
}

.full-name-text {
  position: relative;
  font-size: 30;
  width: 143px;
  height: 35px;
  color: #707070;
  border-color: #418bba;
}

.full-name-textfield {
  position: relative;
  width: 456.89px;
  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
}

.birthday-text {
  width: 121px;
  height: 35;
  font-size: 30;
  color: #707070;
  border-color: #418bba;
}

.text-field-gender {
  position: relative;
  width: 456.89px;
  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
}

.text-field-relationship {
  position: relative;
  width: 456.89px;
  height: 75.74px;
  border-radius: 7%;
  border-color: #707070;
  font-size: 30;
}
.cancel {
  margin: 13% 2% 1% 2%;
}
.sport {
  margin: 5%;
}
.major {
  margin: 5%;
}
