<mat-card class="row1">
    <div class="column">
        <div class="row">
            <div class="row1">
                <div mat-card-avatar class="profilePic">
                    <!-- {{profilePic}} -->
                </div>
                <div class="column">
                    <mat-card-title class="userName textSize">
                        <!-- {{userName}} -->
                        Olsen07
                    </mat-card-title>
                    <mat-card-subtitle class="postTitle textSize">Bio
                    </mat-card-subtitle>
                </div>
            </div>
            <div class="row1"><button mat-icon-button class="btn"><i class="far fa-check-circle green"></i></button>

                <button mat-icon-button class="btn"> <i class="far fa-times-circle red"></i></button>
            </div>

        </div>

        <mat-card-content class="row">
            <mat-expansion-panel class="width">
                <mat-expansion-panel-header>
                    <mat-panel-title class="width">
                        Courses Shared
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- {{courses.length}} -->
                        #
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="classes">#</div>



            </mat-expansion-panel>

        </mat-card-content>
    </div>
</mat-card>