<mat-card class="row1">
    <div class="column">
        <div class="row">
            <div class="row_">
                <div mat-card-avatar class="profilePic">
                    <!-- {{profilePic}} -->
                </div>
                <div class="column_">
                    <mat-card-title class="userName textSize">
                        <!-- {{userName}} -->
                        Olsen07
                    </mat-card-title>
                    <mat-card-subtitle class="gender textSize">Male
                        <!-- {{Gender}} -->
                    </mat-card-subtitle>
                </div>
            </div>
            <div class="row1"><button mat-icon-button class="btn"><i class="far fa-check-circle green"></i></button>

                <button mat-icon-button class="btn"> <i class="far fa-times-circle red"></i></button>
            </div>

        </div>

        <div class="row">
            <div class="center">
                <div class="center1">
                    <!-- {{Major}} -->
                    Physics and Math
                </div>
                <mat-card-subtitle class="center1">
                    <!-- {{Minor}} -->
                    History & Philosophy
                    of Science & Technology
                </mat-card-subtitle>
            </div>


            <div class="center">
                <div class="center1">
                    <!-- {{Sport}} -->
                    Mens Varsity Hockey
                </div>
                <div class="center1">
                    <!-- {{Club}} -->
                    Stand Up Comedy
                </div>
            </div>

        </div>
    </div>
</mat-card>