<mat-card class="row1">
    <div class="column">
        <div class="row">
            <div class="row1">
                <div mat-card-avatar class="profilePic">
                    <!-- {{profilePic}} -->
                </div>
                <div class="column">
                    <mat-card-title class="userName textSize">
                        <!-- {{userName}} -->
                        Olsen07
                    </mat-card-title>
                    <mat-card-subtitle class="postTitle textSize">Bio
                    </mat-card-subtitle>
                </div>
            </div>
            <div class="row1"><button mat-icon-button><i class="far fa-check-circle"></i></button>

                <button mat-icon-button> <i class="far fa-times-circle"></i></button>
            </div>

        </div>

        <mat-card-content class="row">
            Courses Shared
            <div>#</div>
        </mat-card-content>
    </div>
</mat-card>