<mat-card class="width">
    <div class="row">
        <div class="column">
            <div class="centerT">
                <!-- {{title}} -->
                <mat-card-subtitle class="postTitle textSize">Post Title</mat-card-subtitle>
            </div>
            <div class="row2">
                <div class="row1">
                    <div mat-card-avatar class="profilePic">
                        <!-- {{profilePic}} -->
                    </div>
                    <div class="nameTitle">
                        <!-- {{userName}}: -->
                        <mat-card-title class="userName textSize">Olsen07</mat-card-title>
                    </div>
                </div>
                <div class="row1">
                    <div class="column">
                        <mat-card-title class="textSize">
                            <!-- {{Specific}} -->Specific Page
                        </mat-card-title>
                        <mat-card-subtitle class="row1">
                            <!--{{Location}} -->
                            <div class="postLocation textSize">Location</div>
                            <!--{{date}} -->
                            <div class="postTime textSize">Date/Time</div>
                        </mat-card-subtitle>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="postText">
        <!-- {{Descriptiom}} -->
    </div>
</mat-card>