<mat-card class="width">
    <div class="row">
        <div class="column">
            <div class="row1">
                <!-- {{title}} -->
                <mat-card-subtitle class="postTitle textSize">Post Title</mat-card-subtitle>
            </div>
            <div class="row2">
                <div class="column">
                    <div mat-card-avatar class="profilePic">
                        <!-- {{profilePic}} -->
                    </div>
                    <div class="nameTitle">
                        <!-- {{userName}}: -->
                        <mat-card-title class="userName textSize">Olsen07</mat-card-title>
                    </div>
                </div>

                <div class="column">

                    <!-- Joins user to that group,make sure 
                        that it doesn't create duplicates!!! -->

                    <mat-card-title class="">
                        <button mat-button routerLink="/groups">
                            <div class=" postLocation textSize">Join Group
                            </div>
                        </button>
                    </mat-card-title>


                    <mat-card-subtitle class="column">
                        <!--{{Location}} -->
                        <div class="postLocation textSize">Location</div>
                        <!--{{date}} -->
                        <div class="postTime textSize">Date/Time</div>
                    </mat-card-subtitle>

                </div>
            </div>

        </div>
    </div>

    <div class="postText">
        <!-- {{Descriptiom}} -->
    </div>
</mat-card>