
<div class="root-container" >
  <router-outlet>
  </router-outlet>
</div>


<div class="root-container">
  <mat-toolbar class="header" color="primary">
      <img class="toolbar-logo" Src="../assets/Pics/ProperInAppLogo.jpeg" />
      <span class="fill-space"></span>
      <button mat-icon-button type="button" routerLink="/search">
        <mat-icon>public</mat-icon>
      </button>
      <button mat-icon-button type="button" routerLink="/friends-activity">
          <mat-icon>groups</mat-icon>
      </button>
      <button mat-icon-button type="button" routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button type="button" routerLink="/post-page">
      <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu" type="button">
          <mat-icon>settings</mat-icon>
      </button>
  </mat-toolbar>

  
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item type="button" routerLink="/retrieve-password">
      Change Password
    </button>
    <button mat-menu-item type="button" routerLink="/edit-profile">
      Edit Profile
    </button>
    <button mat-menu-item type="button" routerLink="/login">Log Out</button> <!-- TODO: wire up log out button -->
  </mat-menu>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
