@import "../theme.scss";

.root-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$box-shadow-color: rgba(0, 0, 0, 0.25);

.header {
  position: fixed;
  z-index: 2;
  box-shadow: 0px 2px 5px 0px $box-shadow-color;
  height: 75px;
  padding-left: 0;
}

.toolbar-logo {
  height: inherit;
}

.main-content {
  padding: 72px 0px 16px;
}
.material-icons {
  color: white;
}
h4:focus {
  outline: none;
  border: 0;
  padding-left: 16px;
}

.route-active {
  background-color: $secondary !important;
}

.fill-space {
  flex: 1 1 auto;
}

.settings {
  color: gray;
}

.look-nice {
  display: flex;
  justify-content: center;
}
.nav-bar {
  display: hide;
}
// New Add focus!!! hide input box until icon is focused and then is visbile and expands

.search-box {
  position: relative;
  width: 80%;
  height: 22px;
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-top: 1%;
  border-style: hidden;
}
.search-box__icon {
  position: absolute;
  font-size: 26px;
  right: 10%;
  color: lightblue;
  cursor: pointer;
}

.search-box__input {
  transition: right, 1s;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1px;
  width: 20%;
  color: rgb(35, 155, 224);
  font-style: italic;
  float: right;
  position: relative;
  border-radius: 5%;
  margin-right: 10%;
  background-color: #194bbe;
  opacity: 0.7%;
  height: 25px;
  cursor: pointer;
}

// transition to the left and have box initially invisible
.search-box__input:focus {
  width: 50%;
  visibility: visible;
  box-sizing: content-box;
  opacity: 1;
}
.large-screen-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60%;
}
@media (max-width: 769px) {
  .large-screen-icons {
    display: none;
  }
}

@media (min-width: 768px) {
  .small-icons {
    display: none;
  }
}
.small_icons {
  display: flex;
}
// Bottom Nav
@media (max-width: 768px) {
  .lower {
    position: fixed;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px $box-shadow-color;
    height: 50px;
    padding-left: 0;
    bottom: 0;
    background-color: rgb(9, 0, 61);
  }
}
@media (min-width: 769px) {
  .lower {
    display: none;
  }
}
// bottom nav
.clean {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.public_ {
  color: rgb(110, 32, 199);
  font-size: xx-large;
}
.groups_ {
  color: rgb(14, 240, 14);
  font-size: xx-large;
}
.profile_ {
  color: rgb(241, 255, 38);
  font-size: xx-large;
}
.post_ {
  color: rgb(233, 106, 21);
  font-size: xx-large;
}
// top nav
.public {
  color: rgb(110, 32, 199);
  font-size: xx-large;
}
.groups {
  color: rgb(14, 240, 14);
  font-size: xx-large;
}
.profile {
  color: rgb(241, 255, 38);
  font-size: xx-large;
}
.post {
  color: rgb(233, 106, 21);
  font-size: xx-large;
}
