@import "../theme.scss";

.root-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$box-shadow-color: rgba(0, 0, 0, 0.25);

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 5px 0px $box-shadow-color;
  height: 75px;
  padding-left: 0;
}

.toolbar-logo {
  height: inherit;
}
@media (max-width: 580px) {
  .toolbar-logo {
    height: inherit;
    width: 53vw;
  }
}
.main-content {
  //padding: 72px 0px 16px;
  height: 100%;
}

.material-icons {
  color: white;
}
h4:focus {
  outline: none;
  border: 0;
  padding-left: 16px;
}

.route-active {
  background-color: $secondary !important;
}

.fill-space {
  flex: 1 1 auto;
}

.settings {
  color: gray;
}
// top nav icon
.icon-btn-fit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
}
.a_up {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: auto;
}
.b_up {
  margin-left: 10%;
}

.look-nice {
  display: flex;
  justify-content: center;
}
.nav-bar {
  display: hide;
}
// New Add focus!!! hide input box until icon is focused and then is visbile and expands

.search-box {
  position: relative;
  width: 80%;
  height: 18px;
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-top: 1%;
  border-style: hidden;
}
.search-box__icon {
  position: absolute;
  font-size: 26px;
  right: 10%;
  color: lightblue;
  cursor: pointer;
}

.search-box__input {
  transition: right, 0.7s;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1px;
  width: 20%;
  color: rgb(35, 155, 224);
  font-style: italic;
  font-size: 1vw;
  float: right;
  position: relative;
  border-radius: 5%;
  margin-right: 10%;
  opacity: 0.7%;
  height: 25px;
  cursor: pointer;
}

// transition to the left and have box initially invisible
.search-box__input:focus {
  width: 50%;
  visibility: visible;
  box-sizing: content-box;
  opacity: 1;
}
.large-screen-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60%;
}
@media (max-width: 1025px) {
  .large-screen-icons {
    display: none;
  }
}

@media (min-width: 1025px) {
  .small-icons {
    display: none;
  }
}
.small_icons {
  display: flex;
}
// Bottom Nav
@media (max-width: 1025px) {
  .lower {
    position: fixed;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px $box-shadow-color;
    bottom: 0;
    background-color: rgb(9, 0, 61);
  }
}
@media (min-width: 1025px) {
  .lower {
    display: none;
  }
}
// bottom nav
.publicM {
  display: flex;
  color: #0006ff;
  justify-content: center;
  font-size: 6vmax;
}
.PublicOnM {
  display: flex;
  justify-content: center;
  color: rgb(6, 4, 116);
  font-size: 7vmax;
}

.groupsM {
  color: #0006ff;
  display: flex;
  justify-content: center;
  font-size: 6vmax;
}
.GroupsOnM {
  font-size: 7vmax;
  display: flex;
  color: rgb(6, 4, 116);
  justify-content: center;
}
.profileM {
  color: #0006ff;
  display: flex;
  justify-content: center;
  font-size: 6vmax;
}
.ProfileOnM {
  display: flex;
  font-size: 7vmax;
  color: rgb(6, 4, 116);
  justify-content: center;
}
.postM {
  color: #0006ff;
  display: flex;
  justify-content: center;
  font-size: 7vmax;
}
.d_settings {
  margin-top: 8%;
}

@media (max-width: 1440px) {
  .icon-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .public {
    font-size: 4vw;
    display: flex;
    color: #0006ff;
    justify-content: center;
  }
  .PublicOn {
    display: flex;
    justify-content: center;
    color: rgb(6, 4, 116);
    font-size: 5vw;
  }
  .groups {
    color: #0006ff;
    font-size: 4vw;
    display: flex;
    justify-content: center;
  }
  .GroupsOn {
    font-size: 5vw;
    display: flex;
    color: rgb(6, 4, 116);
    justify-content: center;
  }
  .profile {
    color: #0006ff;
    font-size: 4vw;
    display: flex;
    justify-content: center;
  }
  .ProfileOn {
    display: flex;
    font-size: 5vw;
    color: rgb(6, 4, 116);
    justify-content: center;
  }
  .post {
    color: #0006ff;
    font-size: 4vw;
    display: flex;
    justify-content: center;
  }
  .search-box__input:focus {
    width: 105%;
    visibility: visible;
    box-sizing: content-box;
    opacity: 1;
  }
  .search-box__input {
    transition: right, 0.7s;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1px;
    width: 10%;
    color: rgb(35, 155, 224);
    font-style: italic;
    font-size: 1.8vw;
    float: right;
    position: relative;
    border-radius: 5%;
    margin-right: 10%;
    opacity: 0.7%;
    height: 25px;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .search-box__input:focus {
    width: 145%;
    visibility: visible;
    box-sizing: content-box;
    opacity: 1;
  }
  .search-box__input {
    transition: right, 0.7s;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1px;
    width: 20%;
    color: rgb(35, 155, 224);
    font-style: italic;
    font-size: 2vw;
    float: right;
    position: relative;
    border-radius: 5%;
    margin-right: 10%;
    opacity: 0.7%;
    height: 25px;
    cursor: pointer;
  }
}
@media (max-width: 801px) {
  .search-box__input:focus {
    width: 100%;
    visibility: visible;
    box-sizing: content-box;
    opacity: 1;
  }
  .search-box__input {
    transition: right, 0.7s;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1px;
    width: 20%;
    color: rgb(35, 155, 224);
    font-style: italic;
    font-size: 4vw;
    float: right;
    position: relative;
    border-radius: 5%;
    margin-right: 10%;
    opacity: 0.7%;
    height: 25px;
    cursor: pointer;
  }
}
