<mat-card>
    <div class="row">
        <div class="row margin">
            <div mat-card-avatar class="profilePic">
                <!-- {{profilePic}} -->
            </div>
            <div class="column">
                <!-- Takes user to that profile pg -->
                <button mat-button>
                    <mat-card-title class="userName textSize nice">
                        <!-- {{userName}}: -->
                        Olsen07
                    </mat-card-title>
                </button>
                <mat-card-subtitle class="textSize center nice">
                    <!-- {{Gender}} -->
                    Male
                </mat-card-subtitle>
            </div>
        </div>
        <div class="column">
            <mat-card-title class="textSize nice">
                <!-- {{Major}} -->
                Physics and Math
            </mat-card-title>
            <mat-card-subtitle class="textSize nice">
                <!-- {{Minor}} -->
                History and Philosophy of Science

            </mat-card-subtitle>
        </div>
    </div>
    <mat-card-content class="column center ">

        <div class="textSize center padding ">
            <!-- {{Sport}} -->
            Mens Varsity Hockey
        </div>
        <div class="textSize center padding">
            <!-- {{Club}} -->
            Chess Club
        </div>
    </mat-card-content>
</mat-card>