<mat-card *ngFor="let id of ids">
    <div class="row">
        <div class="row margin">
            <div mat-card-avatar class="profilePic">
                <img src="{{id.profilePic}}">
            </div>
            <div class="column">
                <!-- Takes user to that profile pg -->
                <button mat-button>
                    <mat-card-title class="userName textSize nice">
                        {{id.userName}}
                        <!-- Olsen07 -->
                    </mat-card-title>
                </button>
                <mat-card-subtitle class="textSize center nice">
                    {{id.Gender}}
                    <!-- Male -->
                </mat-card-subtitle>
            </div>
        </div>
        <div class="column">
            <mat-card-title class="textSize nice">
                {{id.Major}}

            </mat-card-title>
            <mat-card-subtitle class="textSize nice">
                {{id.Minor}}


            </mat-card-subtitle>
        </div>
    </div>
    <mat-card-content class="column center ">

        <div class="center">
            <button mat-icon-button class="center_"><i class="far fa-handshake"></i></button>
        </div>

        <div>
            <div class="textSize center padding fade ">
                {{id.Sport}}

            </div>
            <div class="textSize center padding fade">
                {{id.Club}}

            </div>
        </div>

    </mat-card-content>
</mat-card>