<mat-card>
    <div class="row">
        <div class="row margin">
            <div mat-card-avatar class="profilePic">
                {{ids.profilePic}}
            </div>
            <div class="column">
                <!-- Takes user to that profile pg -->
                <button mat-button>
                    <mat-card-title class="userName textSize nice">
                        {{ids.userName}}
                        <!-- Olsen07 -->
                    </mat-card-title>
                </button>
                <mat-card-subtitle class="textSize center nice">
                    {{ids.Gender}}
                    <!-- Male -->
                </mat-card-subtitle>
            </div>
        </div>
        <div class="column">
            <mat-card-title class="textSize nice">
                {{ids.Major}}
                <!-- Physics and Math -->
            </mat-card-title>
            <mat-card-subtitle class="textSize nice">
                {{ids.Minor}}
                <!-- History and Philosophy of Science -->

            </mat-card-subtitle>
        </div>
    </div>
    <mat-card-content class="column center ">

        <div class="center">
            <button mat-icon-button class="center_"><i class="far fa-handshake"></i></button>
        </div>

        <div>
            <div class="textSize center padding ">
                {{ids.Sport}}
                <!-- Mens Varsity Hockey -->
            </div>
            <div class="textSize center padding">
                {{ids.Club}}
                <!-- Chess Club -->
            </div>
        </div>

    </mat-card-content>
</mat-card>