<mat-card>
    <div class="row">
        <div class="row">
            <div mat-card-avatar class="profilePic">
                <!-- {{profilePic}} -->
            </div>
            <div class="column">
                <mat-card-title class="userName textSize">
                    <!-- {{userName}}: -->
                    Olsen07
                </mat-card-title>
                <mat-card-subtitle class="textSize center">
                    <!-- {{Gender}} -->
                    Male
                </mat-card-subtitle>
            </div>
        </div>
        <div class="column">
            <mat-card-title class="textSize">
                <!-- {{Major}} -->
                Major
            </mat-card-title>
            <mat-card-subtitle class="textSize">
                <!-- {{Minor}} -->
                Minor
            </mat-card-subtitle>
        </div>
    </div>
    <mat-card-content class="row1 center ">
        <div class="textSize">
            <!-- {{Sport}} -->
            Sport
        </div>
        <div class="textSize">
            <!-- {{Club}} -->
            Club
        </div>
    </mat-card-content>
</mat-card>