<div style="background-color: rgb(235, 235, 245)" class="entire-page">
  <!-- Left column -->
  <div class="column">
  <div class="left-column">
    <!-- logo -->
    <div class="logo-box">
      <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="logo" />
    </div>
    <!-- Friend request box -->
    <div class="friends-request-box">
      <textarea class="friends-request"> </textarea>
    </div>
    <!-- Friends activity box -->
    <div class="hide">
    <div class="friends-activity-box">
      <textarea class="friends-activity" ></textarea> 
    </div>
  </div>
  </div>
  <!-- Tablet/Mobile search bar -->
  
  <div class="search-friends">
    <div class="hide1">
  <div class="searchM"><form class="search" >
    <input type="text" 
     class="search-input" placeholder="Search.." name="search">
    <button type="submit"><span class="material-icons">search</span></button>
  </form></div></div>
  <!-- Middle column -->
  <div class="columnD columnM ">
    

<!-- attempt -->
<div class="row yo">
  
    
  <div class="middle">
    <p>
      Following
      <input type="number" class="number" id="steper" name="members" step="1" />
    </p>

    <div class="following-box">
      <textarea class="followers" > </textarea>
    </div>
  </div>

  <!-- mutual friends -->
  <div class="hide">    
  <div class="middle-middle">
            <!-- Search Bar Desktop -->
 <form class="search" >
  <input type="text" 
   class="search-input" placeholder="Search.." name="search">
  <button type="submit"><span class="material-icons">search</span></button>
</form>
</div>   
  <p>
    Mutual Friends
  </p>
    <div class="mutual-box">
      <textarea class="follow-m"> </textarea>
    </div>
  </div>
  <!-- Right column -->

  

  <div class="right">
    <p>
      Followers
      <input type="number" class="number" id="steper" name="members" step="1" />
    </p>
    <div class="following-box">
      <textarea class="followers" > </textarea>
    </div>
     </div>
    
    
      </div>





<div class=" column_">
  <mat-tab-group mat-align-tabs="center">
    <div class="row">
    <mat-tab label="Followers">
  <div class="middle">
    

    <div class="following-box">
      
      <div class="follower-s" >
        <p>Friend Request's</p>
      </div>
      <mat-divider></mat-divider>
      <div class="followers">

      </div>
    </div>
  </div>
</mat-tab>
  <!-- mutual friends -->
  <div class="hide">    
  <div class="middle-middle">
            <!-- Search Bar Desktop -->
 <form class="search" >
  <input type="text" 
   class="search-input" placeholder="Search.." name="search">
  <button type="submit"><span class="material-icons">search</span></button>
</form>
</div>   
  <p>
    Mutual Friends
  </p>
    <div class="mutual-box">
      <textarea class="follow-m"> </textarea>
    </div>
  </div>
  <!-- Right column -->

  
  <mat-tab label="Following" type="number" class="number" id="steper" name="members" step="1"> 
  <div class="right">
   
    <div class="following-box">
      <div class="followers" > </div>
    </div>
     </div>
    </mat-tab>
  </div>
    </mat-tab-group>
      
      </div>
    </div>
    <div class="bottomM">
      <mat-tab-group mat-align-tabs="center" >
        <mat-tab label="Mutual">
      <div class="mutual-largest">
      <div class="mutual-box">
       
      <textarea class="follow-m"> </textarea>
    </div>
      </div>
    </mat-tab>
    <mat-tab label=" Friend's Activity">
      <div class="friends-activity-box">
        <textarea class="friends-activity" ></textarea> 
      </div>
    </mat-tab>
    </mat-tab-group>
  </div>
  </div>
          
          </div>
                 </div>
