<div style="background-color: rgb(235, 235, 245)" class="entire-page">
  <!-- Left column -->
  <div class="left-column">
    <!-- logo -->
    <div class="logo-box">
      <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="logo" />
    </div>
    <!-- Friend request box -->
    <div class="friends-request-box">
      <textarea class="friends-request" rows="5" cols="35"> </textarea>
    </div>
    <!-- Friends activity box -->
    <div class="friends-activity-box">
      <textarea class="friends-activity" rows="22" cols="35"> </textarea>
    </div>
  </div>
  <!-- Middle column -->
  <div class="middle">
    <p>
      Following #
      <input type="number" class="number" id="steper" name="members" step="1" />
    </p>

    <div class="following-box">
      <textarea class="following" rows="35" cols="30"> </textarea>
    </div>
  </div>
  <!-- mutual friends -->
  <p>
    Mutual Friends #
  </p>
    <div class="mutual-box">
      <textarea class="followers" rows="25" cols="25"> </textarea>
    </div>
  <!-- Right column -->
  <div class="right">
    <p>
      Followers #
      <input type="number" class="number" id="steper" name="members" step="1" />
    </p>
    <div class="followers-box">
      <textarea class="followers" rows="35" cols="30"> </textarea>
    </div>
  </div>
</div>
