@media (min-width: 1024px) {
  .entire-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .entire-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
.logo {
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .logo-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
  }
}
@media (max-width: 1024px) {
  .logo-box {
    display: none;
  }
}
.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .left-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% 1% 1% 8%;
  }
}
@media (max-width: 1024px) {
  .left-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10%;
  }
}
@media (min-width: 1024px) {
  .hide1 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide {
    display: none;
  }
}
@media (max-width: 1024px) {
  .search-friends {
    display: flex;
    flex-direction: column;
    width: 71%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .search-friends {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.following-box {
  display: flex;
  width: 100%;
  height: 79%;
}
@media (min-width: 1024px) {
  .followers {
    display: flex;
    width: 17vw;
    height: 100%;
    border: ridge;
    border-color: #2668bb;
  }
}
@media (max-width: 1024px) {
  .followers {
    display: flex;
    width: 100%;
    height: 100%;
    border: ridge;
    border-color: #2668bb;
  }
}
.follow-m {
  display: flex;
  height: 100%;
  width: 100%;
  border: ridge;
  border-color: #2668bb;
}
@media (min-width: 1024px) {
  mat-tab-group {
    display: none;
  }
}
@media (min-width: 1024px) {
  .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% 5% 2% 2%;
  }
}

@media (max-width: 1024px) {
  .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1% 0% 1% 2%;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .middle-middle {
    margin: 10% 2% 4% 4%;
  }
}
@media (max-width: 1024px) {
  .middle-middle {
    margin: 10% 2% 4% 2%;
  }
}
@media (min-width: 1024px) {
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% 2% 2% 5%;
  }
}
@media (max-width: 1024px) {
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1% 2% 1% 1%;
    width: 100%;
  }
}
.action-button {
  display: flex;
  justify-content: center;
  margin: 2% 15% 30% 35%;
}
@media (min-width: 1024px) {
  .mutual-largest {
    display: none;
  }
}
@media (max-width: 1024px) {
  .mutual-largest {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .yo {
    display: none;
  }
}
@media (min-width: 1024px) {
  mat-tab-group {
    display: none;
  }
}
@media (max-height: 400px) {
  .mutual-largest {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 7%;
  }
}
@media (min-width: 1024px) {
  .mutual-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 65%;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .mutual-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 2% 2% 2%;
    height: 60%;
    width: 80%;
  }
}
.mutual {
  margin: 10% 2% 2% 2%;
}
@media (min-width: 1024px) {
  .friends-request-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    height: 11vh;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .friends-request {
    display: flex;
    width: 100%;
    height: 100%;

    border: ridge;
    border-color: #2668bb;
  }
}
@media (max-width: 1024px) {
  .friends-request {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    border: ridge;
    border-color: #2668bb;
  }
}
@media (max-width: 1024px) {
  .friends-request-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    height: 36%;
  }
}

.friends-activity {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid;
  border-color: #2668bb;
}
@media (min-width: 1024px) {
  .friends-activity-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    height: 35vh;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .friends-activity-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
}
.number {
  width: 50px;
}
// Search bar
* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 5.4px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
