<div style="background-color: rgb(235, 235, 245)" class="entire-page">
  <!-- Left column -->
  <div class="left-column">
    <!-- logo -->
    <div class="logo-box">
      <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="logo" />
    </div>
    <!-- Friend request box -->
    <div class="friends-request-box">
      <textarea class="friends-request" rows="10" cols="7"> </textarea>
    </div>
    <!-- Friends activity box -->
    <div class="friends-activity-box">
      <textarea class="friends-activity" rows="15" cols="7"> </textarea>
    </div>
  </div>
  <!-- Middle column -->
  <div class="middle">
    <p>Following #</p>
    <div class="following-box">
      <textarea class="following" rows="10" cols="7"> </textarea>
    </div>
  </div>
  <!-- Right column -->
  <div class="right">
    <p>Followers #</p>
    <div class="followers-box">
      <textarea class="foollowers" rows="10" cols="7"> </textarea>
    </div>
  </div>
</div>
