// main logo
<img src="ProperInAppLogo.jpeg;";
style="width:2804.7px;
height:556.8px;
left:373px;
top:0px;" >

//Simple text  
<body style="
font-style: Helvetica Neue;
font-size: 30px; 
color: #244BCE
width:1151px;
height:588px;
left:385px;
right:385px;
top:348px;
bottom: 144px;">

  <p>  
"Terms and Conditions:
The University Of Toronto Varsity Blues is in no way affiliated with Scholarly and therefore holds no responsibility for the actions of their students using Scholarly. As well as any harm that may come to them by use of the app. 
This app is made by U Of T students for U Of T students and is only 
connected to U Of T by its student body, but in no way holds responsibility or connection for anything that happens because of the use of Scholarly.
Like all social network platforms, Scholarly requires its members to act appropriately and to treat everyone with respect. Scholarly is not responsible for any misconducts, charges, lawsuits, or discrepancies between its members that may arise because of the use of the app Scholarly. 
Each member is responsible for their own actions and conduct and by agreeing to these conditions, agrees that they will in no way sue, charge, or in anyway put Scholarly responsible for the actions of its members. 
Scholarlie’s purpose is to connect like minded individuals around the U Of T campus, 
allowing a large school to feel small while holding all the perks a large school carries."
</p>
</body>

//Sign up buton
SignUp {
<button type="button" style="color: #28208E;
font-size: 56px;
font-style: Helvetica Neue;
width: 201px;
height: 65px;
left: 860px;
right: 1060px;
bottom: 207.83px">Sign Up</button>
}