.side-spacer {
  width: 25%;
}

.text {
  position: relative;
  font-family: "Helvetic Neue", "Courier New", Courier;
  font-size: 30px;
  color: #244bce;
  width: 1151px;
  height: 588px;
  padding: 25%;
}

.text-button {
  position: relative;
  width: 201px;
  height: 65px;
  font-family: "Helvetic Neue", "Courier New", Courier;
  border-radius: 7%;
  border-color: #093e86;
  color: #707070;
  font-size: 56;
  padding: 3%;
}
