.side-spacer {
  width: 25%;
}

.text-button {
  position: relative;
  width: 50%;
  font-family: "Helvetic Neue", "Courier New", Courier;
  border-radius: 7%;
  color: #28208e;
  font-size: 56px;
  padding: 3%;
}

.text-button-back {
  position: relative;
  width: 50%;
  font-family: "Helvetic Neue", "Courier New", Courier;
  border-radius: 7%;
  color: #707070;
  font-size: 56px;
  padding: 3%;
}

.main-content {
  position: relative;
  padding: 24px 16px 16px;
  font-size: 16px;
  border-radius: 15%;
  max-width: 750px;
  flex-direction: column;
  justify-content: flex-start;
  // size of the header image
}

.main-text {
  padding: 48px 32px 0 0;
  font-size: 32px;
  line-height: 32px;
  color: #0e3379;
  font-family: "Helvetic Neue", "Courier New", Courier;
}

p {
  font-size: 20px;
  margin: 0px 20%;
  color: #0e3379;
  font-family: "Helvetic Neue", "Courier New", Courier;
}
