<div class="pop-up">
    <h2 mat-dialog-title class="dialog-title">Informatioon</h2>
    <h3>Private Account:</h3>
    <div mat-dialog-content>You are able to accept or decline friend requests. Only
        friends are able to view your profile.
    </div>


    <br>
    <br>

    <h3>Public Account:</h3>
    <div mat-dialog-content>Users are automatically accepted to your followers. Your profile is visible
        to all.
    </div>
    <br>
    <button mat-button mat-dialog-close>Close</button>
</div>