//Logo
{
<img src="/Users/chaseolsen/angular-SCHOLARLY/
src/assets/Pics/WhiteSquareInAppLogo.jpg" 
style="width: 343.61px;
height: 398px;
left: 749px;
top: 42px;"
>
}

//Text Username:
<style>
<header> "Username:" 
     </header>
     {
style="
font-style: Helvetic Neue;
width: 146px;
height: 35px;
left: 162px;
top: 303px;
</style>
}


//User name input box
input {
    <span 
   style="width: 696.89px;
   font-style: Helvetic Neue;
    height: 75.74px;
    left: 162.11px;
    top: 338.26px;
    border-radius: 7%;
    border-color: #707070;"> </span>
    <mat-icon>highlight_off style="width:40px; height:40; left:800px;
        top:356px; color:#F1F9FF; </mat-icon>    
}

//Text Password:
<header> "Password:" 
     </header>
     {
        style="
font-style: Helvetic Neue;
width: 141px;
height: 35px;
left: 162px;
top: 429px;


    //Password input box
input {
    <span 
   style="width: 696.89px;
   font-style: Helvetic Neue;
    height: 75.74px;
    left: 162.11px;
    top: 464.26px;
    border-radius: 7%;
    border-color: #707070;"> </span>
    <mat-icon>highlight_off style="width:40px; height:40; left:800px;
        top:482px; color:#F1F9FF; </mat-icon>
    }

    //Text Repeat Password:
    <header> "Repeat Password:" 
     </header>
     {style="
font-style: Helvetic Neue;
width: 246px;
height: 35px;
left: 162px;
top: 555px;}
     

    //Repeat Password input box
input {
    <span 
   style="width: 696.89px;
   font-style: Helvetic Neue;
    height: 75.74px;
    left: 162.11px;
    top: 590.26px;
    border-radius: 7%;
    border-color: #707070;"> </span>
    <mat-icon>highlight_off style="width:40px; height:40; left:800px;
        top:608px; color:#F1F9FF; </mat-icon>
    }

    //Text Major/Minor
    <header> "Major/Minor:" 
     </header>
     {
        style="
font-style: Helvetic Neue;
width: 171px;
height: 35px;
left: 162px;
top: 679px;

    //Major/Minor
    input {
    <span 
   style="width: 696.89px;
   font-style: Helvetic Neue;
    height: 75.74px;
    left: 162.11px;
    top: 590.26px;
    border-radius: 7%;
    border-color: #707070;"> </span>
    <mat-icon>highlight_off style="width:40px; height:40; left:560px;
        top:731px; color:#F1F9FF; </mat-icon>
    }

    //Text Sport/Club:
    <header> "Sport/Club:" 
     </header>
     style="
font-style: Helvetic Neue;
width: 155px;
height: 35px;
left: 162px;
top: 803px;

    //Sport/Club
    input {
    <span 
   style="width: 155px;
   font-style: Helvetic Neue;
    height: 35px;
    left: 162.11px;
    top: 803px;
    border-radius: 7%;
    border-color: #707070;">
     </span>
    <mat-icon>highlight_off style="width:40px; height:40; left:560px;
        top:855px; color:#F1F9FF; </mat-icon>
    }