.entire-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.btmText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.checkBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.display {
  display: flex;
}
.left-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 15% 0% 15%;
}
.username-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}
.password-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}
.major-layout {
  display: flex;
  flex-direction: column;
}
.sport-layout {
  display: flex;
  flex-direction: column;
}
.right-inputs {
  display: flex;
  flex-direction: column;
  margin: 0% 15% 0% 15%;
}
.private-layout {
  margin-bottom: 2%;
}
.public-layout {
  margin-bottom: 2%;
}
.fullname-layout {
  margin-bottom: 2%;
}
.gender-layout {
  margin-right: 10%;
  margin-bottom: 2%;
}
.text-layout {
  margin-right: 10%;
  margin-bottom: 2%;
}

.center-text {
  display: flex;
  justify-content: center;
  overflow: visible;
  text-align: center;
}
.asthetic-adds {
  border-radius: 7%;
  color: #418bba;
  border-color: #707070;
  width: 100%;
}

.switch {
  color: #2699fb;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: #707070;
  border-color: #418bba;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: #707070;
  border-color: #418bba;
}
.material-icons {
  border-radius: 7%;
  color: #418bba;
  border-color: #707070;
}
.existing-account-layout {
  display: flex;
  justify-content: center;
  color: #418bba;
  border-color: #707070;
}
.align-bottom {
  display: flex;
  justify-content: center;
}
.existed-centered {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}
.accounts {
  display: flex;
  justify-self: center;
  flex-direction: column;
}
.terms {
  display: flex;
  justify-content: center;
  margin-right: 9%;
}
