.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.top-items {
  display: flex;
  flex-direction: row;
}

.search-format {
  display: flex;
  flex-direction: column;
  margin: 4.85% 8% 0% 10%;
}
.text-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.friends-format {
  display: flex;
  margin: 3% 9% 1% 5%;
}
.settings-format {
  display: flex;
  margin: 3% 2% 1% 0%;
}
.left-side {
  display: flex;
  flex-direction: column;
  margin: 1% 1% 0% 1%;
  width: 35%;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
.middle {
  display: flex;
  flex-direction: column;
  margin: 1% 1% 1% 7%;
  width: 51%;
  height: 90%;
}
.profile-pic {
  display: flex;
  height: 13vh;
  justify-content: center;
}

.pic {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
}
.major-minor {
  display: flex;
  margin: 1% 1% 1% 1%;
  width: 100%;
  height: 10%;
}
@media (min-width: 440px) {
  .major-box {
    text-align: center;
    border-radius: 30px;
    margin: 0% 0% 1% 15%;
    color: #0e3379;
    width: 70%;
    height: 70%;
    font-size: 130%;
  }
}
@media (max-width: 440px) {
  .major-box {
    text-align: center;
    border-radius: 30px;
    margin: 0% 0% 1% 15%;
    color: #0e3379;
    width: 70%;
    height: 70%;
  }
}
@media (min-width: 1024px) {
  .bio-box {
    display: flex;
    margin: 0% 1% 41% 1%;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .bio-box {
    display: flex;
    margin: 0% 1% 21% 1%;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    justify-content: center;
  }
}
.bio-input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid;
  border-color: cornflowerblue;
  background-color: #d1d6eb;
}

.conversations {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
}
.convo-text {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.text-2 {
  display: flex;
  border-radius: 10% / 50%;
  background-color: rgb(235, 235, 245);
  margin: 1% 0% 2% 2%;
  font-weight: bold;
}

.text {
  display: flex;
  margin: 1% 1% 0% 4%;
  border-width: 2px;
  height: 100%;
  border-radius: 5%;
  color: #0e3379;
  background-color: rgb(235, 235, 245);
}
.gender {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 245);
}
.relationship {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 245);
}
.clear-holder {
  border-radius: 10% / 50%;
  opacity: 0.02;
}

.action-button {
  color: #2699fb;
  display: flex;
  justify-content: center;
}
.bio-name-age {
  display: flex;
  margin: 2% 15% 0% 7%;
  width: 100%;
  height: 25px;
}

.highlights-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: ridge;
  box-sizing: border-box;
}
.groups-j {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  border: ridge;
  box-sizing: border-box;
}
.personal-acc {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  border: ridge;
  box-sizing: border-box;
}
.row_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.completed-courses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: ridge;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 1% 3% 1%;
    width: 50%;
    height: 90%;
  }
}
@media (max-width: 1024px) {
  .right-side {
    display: none;
  }
}
.row_2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: fit-content;
}
.follow {
  font-family: "Times New Roman", Times, serif;
  margin-right: 3%;
}
.number {
  width: 25%;
  background-color: #ebebf5;
  border: none;
  font-weight: bold;
}
//

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 1024px) {
  .hide {
    display: none;
  }
}
//
.hide-input {
  justify-content: center;
  display: flex;
  margin: 1% 0% 2% 0%;
  width: 100%;
  border: hidden;
  background-color: rgb(235, 235, 245);
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 23%;
}
.recent-post-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.recent-post-layout1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.posts {
  display: flex;
  margin: 1% 1% 0% 4%;
  border-width: 2px;
  height: 70%;
  border-radius: 5%;
  color: #0e3379;
  background-color: rgb(235, 235, 245);
}
.top-middle {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 450px) {
  .user-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    color: #0b4bff;
    box-sizing: border-box;
    margin-right: 7%;
  }
}
@media (max-width: 450px) {
  .user-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #0b4bff;
    box-sizing: border-box;
    margin-right: 2%;
  }
}

.features {
  margin: 2% 5% 0% 5%;
}
.groups {
  width: 50px;
  height: 50px;
}
.recent {
  margin-left: 15%;
}
.current {
  margin-left: 15%;
}
