.entire-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.top-items {
  display: flex;
  flex-direction: row;
}
.logo-layout {
  display: flex;
  justify-content: start;
  margin: -2% 20% 0% -5%;
  border-radius: 10% / 50%;
}
.search-format {
  display: flex;
  flex-direction: column;
  margin: 3% 8% 0% 10%;
}
.text-1 {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.friends-format {
  display: flex;
  margin-top: 3%;
  margin-right: 9%;
  margin-bottom: 9%;
}
.settings-format {
  display: flex;
  margin-top: 3%;
  margin-right: 2%;
  margin-bottom: 9%;
}
.left-side {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  display: flex;
  justify-content: flex-start;
  margin: 2% 5% 1% 5%;
  height: 25%;
}
.pic {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  height: 100%;
}
.major-minor {
  display: flex;
  margin: 1% 20% 0% 5%;
  width: 200px;
  height: 50px;
}
.major-minor-box {
  text-align: center;
  border-radius: 30px;
  margin: 1% 0% 0% 5%;
  color: #0e3379;
  width: 70%;
  height: 70%;
  font-size: 130%;
}
.degree-sport-box {
  text-align: center;
  border-radius: 30px;
  margin: 0% 0% 1% 5%;
  color: #0e3379;
  width: 70%;
  height: 70%;
  font-size: 130%;
}

.bio-box {
  display: flex;
  margin: 0% 15% 0% 5%;
  width: 400px;
  height: 200px;
}
.bio-input {
  width: 90%;
  height: 70%;
  border-radius: 30px;
  background-color: rgb(209, 214, 235);
}
.text-2 {
  display: flex;
  border-radius: 10% / 50%;
  background-color: rgb(235, 235, 245);
  margin: 1% 0% 2% 2%;
  font-weight: bold;
}

.text {
  display: flex;
  margin: 1% 1% 0% 4%;
  border-width: 2px;
  border-color: rgb(32, 58, 209);
  border-radius: 10% / 50%;
  color: #0e3379;
  background-color: rgb(235, 235, 245);
}
.clear-holder {
  border-radius: 10% / 50%;
  opacity: 0.02;
}

.action-button {
  color: #2699fb;
}
.bio-name-age {
  display: flex;
  margin: 2% 15% 0% 7%;
  width: 200px;
  height: 25px;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hide-input {
  display: flex;
  margin: 1% 10% 0% 9.5%;
  border-radius: 10% / 50%;
  width: 40px;
  height: 20px;
}
.recent-post-layout {
  display: flex;
  flex-direction: column;
  margin: 0% 7% 0% 7%;
  width: 600px;
}

.main-content {
  justify-content: center;
  display: flex;
}
