<div class="entire-page">


  <div class="main-content">
    <!-- input pic & has this default pic before-->
    <div class="left-side">
      <div class="profile-pic">
        <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
      </div>

      <!-- gender input text -->
      <div class="hide-input">
        <input style="border: 0" placeholder="Male" class="gender" />
      </div>

      <!-- relationship status input text -->
      <div class="hide-input">
        <input style="border: 0" placeholder="Single" class="relationship" />
      </div>

      <!-- Major/Minor -->
      <div class="major-minor">
        <input placeholder="Major/Minor" class="major-minor-box" />
      </div>
      <!-- Sport/Club -->
      <div class="major-minor">
        <input placeholder="Sport/Club" class="degree-sport-box" />
      </div>

      <!-- Bio: Full name & age input text -->
      <div class="bio-name-age">
        <input style="border: 0" placeholder="Bio: Chase 23" class="text-2" />
      </div>

      <!-- bio box -->
      <div class="bio-box">
        <textarea class="bio-input" rows="10" cols="7"> </textarea>
      </div>
    </div>
    <!-- Middle -->
    <div class="middle">
      <div class="highlights">
        <p class="text" style="margin-left: 10%">Highlights:</p>
      </div>

    <!-- Input box -->
      <div class="highlights-layout" >
        <textarea class="text" rows="30" cols="40"  style="width: 400px"> </textarea>
      </div>
    </div>


    <!-- Right side -->
    <!-- Recent Posts text  -->
    <div class="right-side">
      <div class="recents">
        <div class="recent">
          <button type="button" routerLink="/groups" class="text">
            Recent Posts:
          </button>
        </div>
        <!-- Recent Posts box, need to add internal symbols
  & activity things in box -->
        <div class="recent-post-layout">
          <textarea class="text" rows="17" cols="40" style="width: 400px"> </textarea>
        </div>
      </div>
      <!-- Current Conversations text -->
      <div class="conversations">
        <div class="current">
          <p class="text">Current Conversations:</p>
        </div>

        <!-- Current Conversations box, need to add internal symbols
  & activity things in box -->
        <div class="recent-post-layout">
          <textarea class="text" rows="17" cols="40" style="width: 400px"> </textarea>
        </div>
      </div>
    </div>
  </div>
  </div>
