


  <div class="main-content">
    <!-- input pic & has this default pic before-->
    <div class="left-side">
      <div class="profile-pic">
        <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
        
      </div>

      <!-- gender input text, relationship status input text -->
      <div  class="center">
        <div class="hide-input"> Olsen07</div>
        <div class="row"><div   class="hide-input"> Male</div>
        <div     class="hide-input">Single</div></div>
      </div>

      <!-- Major/Minor -->
      <div class="major-minor">
        <input placeholder="Major/Minor" class="major-box" />
      </div>
      <!-- Sport/Club -->
      <div class="major-minor">
        <input placeholder="Sport/Club" class="major-box" />
      </div>

      <!-- Bio: Full name & age input text -->
      <div class="bio-name-age">
        <input style="border: 0" placeholder="Chase Olsen 23" class="text-2" />
      </div>

      <!-- bio box -->
      <div class="bio-box">
        <textarea class="bio-input" > </textarea>
      </div>
      <div class="conversations">
      <button mat-raised-button (click)="openBottomSheet()" class="convo-text"> Conversations</button>
      
    </div>
    </div>
    <!-- Middle -->
    <div class="middle">
      <!-- User-Name -->
      <div class="top-middle">
        <div class="user-name">
      
    </div>
      <h3 class="follow">
        Following
        <input type="number" class="number" id="steper" name="members" step="1" />
      </h3>
      <h3 class="follow">
        Followers
        <input type="number" class="number" id="steper" name="members" step="1" />
      </h3>

      </div>
      <div>
    
      </div>
<!-- DESKTOP -->
<div class="hide">
<div class="HighlightsM">
      

  <!-- Hightlight Input box -->
  <p class="text">Highlights:</p>
    <div class="highlights-layout" >
      <div class="groups-j"><div class="words">
        Groups Joined
      </div></div>
      <div class="personal-acc"><div class="words">
        Personal Accomplishments
      </div></div>
      <div class="row_1">
        <div class="completed-courses"><div class="words">Completed Courses</div></div>
        <div class="completed-courses"><div class="words">
          Pursuing Courses
        </div></div>
      </div>
    </div>
  </div>
  <div class="activityM">
    <!-- Right side -->
    <!-- Recent Posts text  -->
    <div class="right-side">
      
     
        <!-- Recent Posts box-->
        <div class="recent-post-layout">
          <h2 class="recent">
            <p class="text" >
              Recent's
            </p>
          </h2>
          <div class="posts" > </div>
        
          <mat-divider></mat-divider>
      <!-- Current Conversations text -->
      <h2 class="features">
        <div class="current"></div>
          <p class="text">Features</p>
      </h2>
     
     
        <!-- Current Conversations box, need to add internal symbols
  & activity things in box -->
        
          <div class="text_"> </div>
        
      </div>
      </div>
    </div>

  </div>





<!-- MOBILE -->

<mat-tab-group dynamicHeight dynamicWidth mat-align-tabs="center" >
  <mat-tab label="Highlights">
<div class="HighlightsM">
      

    <!-- Hightlight Input box -->
      <div class="highlights-layout" >
        <div class="groups-j"><div class="words">
          Groups Joined
        </div></div>
        <div class="personal-acc"><div class="words">
          Personal Accomplishments
        </div></div>
        <div class="row_1">
          <div class="completed-courses">
            <div class="words">Completed Courses</div>
          </div>
          <div class="completed-courses"> <div class="words">
            Pursuing Courses
          </div></div>
        </div>
      </div>
    </div>
    </mat-tab>
    
<mat-tab label="Activity">
<div class="activityM">
    <!-- Right side -->
    <!-- Recent Posts text  -->
    <div class="right-side">
      
  
        <!-- Recent Posts box-->
        <div class="recent-post-layout">
          <div class="recent">
            <p class="text">
              Recent's
            </p>
          </div>
          <div class="posts" > </div>
        
          <mat-divider></mat-divider>
      <!-- Current Conversations text -->
      <div class="features">
        <div class="current"></div>
          <p class="text">Features</p>
      </div>
     
        <!-- Current Conversations box, need to add internal symbols
  & activity things in box -->
      
          <div class="text_"> </div>
        
      </div>
      </div>
    </div>
    </mat-tab>

    </mat-tab-group>



  </div>
  