.basic{
  display: flex;
  width: 100%;
}
.booleans{
  display: flex;
    width: 15%;
    justify-content: space-evenly;
}
@media(min-width:1024px){
.column{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0% 3%;
  height: 85%;
}}
@media(max-width:1024px){
.column{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0% 3%;
}}
@media(min-width:1024px){
.columnM{
  display: flex;
  justify-content: center;
  flex-direction: column;
}}
@media(max-width:1024px){
.columnM{
  display: flex;
  justify-content: center;
  flex-direction: column;
}}

.entire-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
}
@media(min-width:1024px){
.left {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 81%;
  margin-left: 2%;
  margin-top: 2%;
}
}
@media(max-width:1024px){
  .left {
    display: none;
  }
  }
  .messages{
    display: flex;
    height: 100%;
    overflow-y: scroll;
  }
.middle {
  display: flex;
  flex-direction: column;
  border: groove;
  width: 100%;
  height: 100%;
  background-color: #d5d8da;
}
@media(min-width:1024px){
  .mobile{
    display: none;
  }}
  @media(max-width:1024px){
    .mobile{
      margin-right: 2%;
    }}
.membersBox { 
  display: flex;
  width: 100%;
 flex-direction: column;
  overflow-y: scroll;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
  font-family: "Font Awesome 5 Free";
  color: #7e7171;
  margin: 2% 0%;
}
.row_basic{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Font Awesome 5 Free";
  color: #7e7171;
}
.row-icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
// Search bar
* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 5.4px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
.info{
  display: flex;
padding-right: 2%;
}
.space{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.fas {
  font-size: initial;
}
.fit {
  width: 100%;
}
@media(min-width:1024px){
.title {
  display: flex;
  justify-content: center;
  flex-direction: row;

  font-size: xx-large;
  margin-bottom: 3%;
  font-family: "Font Awesome 5 Free";
  color: #7e7171;
}
}
@media(max-width:1024px){
  .title {
    display: none;
   
  }
  }
  