<!-- logo -->
<img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" />

<!-- label & steper for # of members allowed 
this allows more or less people to join group from the
initial amount specified when the post was made-->
<span class="text">
  <label for="members">Members</label>
  <input type="number" id="steper" name="members" step="1" />
</span>

<!-- members box -->
<div class="members-box"></div>

<!-- text -->
<span>
  <p class="text">Chat:</p>
</span>

<!-- Group Name input spot -->
<input placeholder="Group Name" class="text" />

<!-- Group chat message box -->
<div class="chat-box"></div>

<!--  smily face that keeps track of members wanting to
join your group ONLY FOR PRIVATE ACCOUNTS  -->
<span>
  <mat-icon> insert_emoticon</mat-icon>
</span>

<!-- Search Icon -->
<div>
  <button mat-raised-button color="primary" class="action-button">
    <mat-icon class="icon-size">public</mat-icon>
    <p class="text">Search</p>
    <span class="material-icons-up-arrow"> keyboard_arrow_up </span>
  </button>
</div>

<!-- Profile Icon -->
<div>
  <button mat-raised-button color="primary" class="action-button">
    <mat-icon class="icon-size">favorite</mat-icon>
    <p class="text">Profile</p>
    <span class="material-icons-up-arrow"> keyboard_arrow_up </span>
  </button>
</div>

<!-- Post Icon -->
<div>
  <button mat-raised-button color="primary" class="action-button">
    <mat-icon class="icon-size">favorite</mat-icon>
    <p class="text">add</p>
    <span class="material-icons-up-arrow"> keyboard_arrow_up </span>
  </button>
</div>

<!-- Info Icon which just displays a message related to specifc page
   on hover -->
<div class="tooltip">
  <span class="material-icons"> info </span>
  <span class="tooltiptext">Fill in message chase </span>
</div>
