<div class="entire-page">

  <div class="left">
    <label for="members" class="title">Members</label>
    <span class="membersBox">
      <app-card-user class="fit"></app-card-user>
      <!-- For mobile icon button to display members in the chat room -->
      <i class="fas fa-user-graduate mobile"></i>

    </span>
  </div>
  <div class="column">
    <label class="row">
      <!-- {{Group}} -->
      Group Name
    </label>
    <!-- Icon indicators -->
    <div class="row-icons">
      <p class="fas fa-venus"></p>
      <p class="fas fa-transgender-alt"></p>
      <p class="fas fa-mars"></p>
      <p class="fas fa-car"></p>
      <p class="fas fa-dollar-sign"></p>
      <p class="fas fa-user-tie"></p>
      <p class="fas fa-glass-cheers"></p>
    </div>
    <!-- Message area -->
    <div class="middle">
    </div>
  </div>

</div>