<div style="background-color: rgb(235, 235, 245)" class="entire-page">
  <div class="left">
    <!-- label & steper for # of members allowed 
this allows more or less people to join group from the
initial amount specified when the post was made-->
    <span class="text">
      <label for="members">Members</label>
      <input type="number" id="steper" name="members" step="1" />
    </span>

    <!-- members box -->
    <textarea class="text" rows="30" cols="50"> </textarea>
  </div>
  <div class="middle">
    <!-- logo -->
    <div class="logo">
      <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
    </div>
    <!-- Group Name input spot -->
    <div>
      <p class="text">Chat: <input placeholder="Group Name" class="text" /></p>
    </div>

    <!-- Group chat message box -->
    <textarea class="text" rows="20" cols="70"> </textarea>
  </div>

  <div class="right">
    <!--  smily face that keeps track of members wanting to
join your group ONLY FOR PRIVATE ACCOUNTS  -->
    <div class="face">
      <mat-icon class="material-icons"> insert_emoticon</mat-icon>
    </div>

    <!-- Search Icon -->
    <div class="search">
      <button mat-icon-button color="primary" class="action-button">
        <mat-icon class="material-icons">public</mat-icon>
        <p class="text">Search</p>
      </button>
    </div>

    <!-- Profile Icon -->
    <div class="profile">
      <button mat-icon-button color="primary" class="action-button">
        <mat-icon class="material-icons">favorite</mat-icon>
        <p class="text">Profile</p>
      </button>
    </div>

    <!-- Post Icon -->
    <div class="post">
      <button mat-icon-button color="primary" class="action-button">
        <div class="material-icons">add_circle_outline</div>
        <p>post</p>
      </button>
    </div>

    <!-- Info Icon which just displays a message related to specifc page
   on hover -->
    <div class="tooltip">
      <div class="material-icons">info</div>
      <div class="tooltiptext">Fill in message chase</div>
    </div>
  </div>
</div>
