<div class="entire-page">
  <!-- Entire page -->
  <div class="main-layout">
    <div class="left-column">
      <div class="center"> Recommendations</div>
      <!-- ADDDDDDSSSSSS!!!!!! Profile picture!! School logo or delete -->
      <div [ngClass]="opt >=1 ? 'logo-layoutP' : 'logo-layout' ">
        <!-- Then each card is filled uniquely passed off {{ }}  values in feed-->
        <app-card-request class="adds" *ngFor="let feed of feeds">
          {{feed}}
        </app-card-request>
      </div>


      <div class="input-boxs_" *ngIf="opt >= 1">
        <div class="center">Specific Search</div>
        <mat-chip-list class="mat-list-text">
          <mat-chip [multiple]="false" *ngFor="let opt of specificOptions" [value]="opt" (click)="navigateToPage(opt)">
            {{ opt }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <!-- middle -->
    <div class="middle-column-large">
      <div class="label">What are you looking for?</div>
      <!-- Category box -->
      <div class="input-boxs">
        <div class="center">Main Categories</div>

        <mat-chip-list aria-label="First Choice">
          <mat-chip (click)="onSearchSelection(opt.value)" (click)="displaySpecificSearch()" [selected]="opt.name"
            [multiple]="false" *ngFor="let opt of searchOptions" [value]="opt.name">
            <mat-radio-button class="horizontal_list">
              {{ opt.name }}</mat-radio-button>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <!-- right -->
    <div class="right-column">
      <!-- Recents tetx -->
      <div class="center">
        Recent Feed
      </div>
      <div class="recents">
        <app-card class="hide"></app-card>
        <!-- Add but also post cards can be posts, just have add company 
        fill out a card!! -->
        <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" />
        <app-card class="hide"></app-card>
        <!-- Add but also post cards can be posts, just have add company 
        fill out a card!! -->
        <img Src="../../assets/Pics/BlueSquareAppLogo.jpg" />
      </div>
    </div>





    <!-- Mobile -->
    <div class="hide1">
      <div class="topM">


        <div class="center"> Recommendations</div>
        <!-- ADDDDDDSSSSSS!!!!!! Profile picture!! School logo or delete -->

        <div class="logo-layoutM">
          <!-- Adds and recommecndations will be mixed into feed!!!!! -->

          <div class="adds">
            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10"><img *cdkVirtualFor="let feed of feeds"
                [src]="feed" /> </cdk-virtual-scroll-viewport>
          </div>

        </div>


        <div class="column">
          <div class="label">What are you looking for?</div>
          <mat-selection-list #options [multiple]="false" class="second-list">
            <mat-form-field appearance="fill">
              <mat-label>Main Categories</mat-label>

              <mat-select>
                <mat-option>None</mat-option>
                <mat-option (click)="onSearchSelection(opt.value)" [selected]="opt.name" [multiple]="false"
                  *ngFor="let opt of searchOptions" [value]="opt.name">

                  {{ opt.name }}</mat-option>
              </mat-select>

            </mat-form-field>
          </mat-selection-list>

          <!-- Second choice -->
          <div class="location-options">
            <mat-chip-list class="mat-list-text">
              <mat-chip [multiple]="false" *ngFor="let opt of specificOptions" [value]="opt"
                (click)="navigateToPage(opt)">

                {{ opt }}

              </mat-chip>
            </mat-chip-list>
          </div>


        </div>
        <div class="center">
          Recent Feed
        </div>
        <app-card class="display"></app-card>
        <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" />
        <app-card class="display"></app-card>
        <img Src="../../assets/Pics/BlueSquareAppLogo.jpg" />
        <!-- Then cards keep getting filled in!! Just was testing the overflow scroll -->
      </div>
    </div>
  </div>
</div>