<div class="entire-page">
  <!-- Entire page -->
  <div class="main-layout">
    <div class="left-column">
      <!-- logo -->
      <div class="logo-layout">
        <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="logo" />
      </div>

      <div class="title-box">
        <!-- Specifics text-->
        <div class="specific-text-layout">
          <button
            mat-icon-button
            type="button"
            routerLink="/main"
            color="primary"
            class="action-button"
          >
            <p class="text">Specific pages</p>
          </button>
        </div>

        <!-- categeory filter box -->
        <div class="specific-layout">
          <textarea class="outside-input-boxs" rows="30" cols="35"> </textarea>
        </div>
      </div>
    </div>

    <!-- middle -->
    <div class="middle-column">
      <!-- Search text field -->
      <div class="middle-column">
        <div class="search-layout">
          <mat-form-field class="search-textfield">
            <mat-label><span class="material-icons"> search </span> </mat-label>
            <input matInput type="search" placeholder="Search:" />
          </mat-form-field>
        </div>
      </div>
      <!-- Category box -->
      <textarea class="outside-input-boxs" rows="30" cols="30"> </textarea>
    </div>

    <!-- right -->
    <div class="right-column">
      <!--  Three Icons -->
      <div class="three-icons">
        
        
        <!-- Post Icon -->
        <div class="post">
          <button
            mat-icon-button
            type="button"
            routerLink="/post-page"
            color="primary"
            class="action-button"
          >
            <div class="material-icons" style="font-size: 80px">
              add_circle_outline
            </div>
            <p class="post-text">Post</p>
          </button>
        </div>
      </div>
      <div class="recents-box">
        <!-- Recents tetx -->
        <div>
          <p class="recents-text">Recents:</p>
        </div>

        <!-- Recents box -->
        <div>
          <textarea class="outside-input-boxs" rows="30" cols="35"> </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
