.side-spacer {
  width: 25%;
}

.filter-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}

.search-textfield {
  width: 30%;
  min-width: 15%;
  max-width: 70%;
}

.material-icons-search {
  color: #244bce;
  width: 30%;
  min-width: 15%;
  max-width: 70%;
}

.category-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}

.material-icons-profile {
  color: #244bce;
  width: 5%;
  min-width: 2%;
  max-width: 8%;
}

.profile-text {
  font-size: 25;
  font-family: "Helvetic Neue", "Courier New", Courier;
  padding: 2px;
  color: #093e86;
}

.material-icons-up-arrow {
  color: #2699fb;
  padding: 2px;
}

.text {
  font-size: 25px;
  font-family: "Helvetic Neue", "Courier New", Courier;
  padding: 10% 15% 1% 5%;
  border-color: #093e86;
}
