.entire-page {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-layout {
  display: flex;
  flex-direction: row;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 10% 5% 10%;
}
.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 10% 2% 10%;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 10% 2% 10%;
}
.logo {
  border-radius: 50%;
  width: 65%;
}
.logo-layout {
  display: flex;
  justify-content: center;
}
.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specific-text-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specific-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}
.outside-input-boxs {
  border: solid rgb(17, 24, 122);
  background-color: rgb(235, 235, 245);
  border-radius: 15%;
}

.search-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
}
.search-textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 15%;
}

.material-icons-search {
  color: #244bce;
  width: 30%;
  min-width: 15%;
  max-width: 70%;
}

.category-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-icons-profile {
  color: #244bce;
  width: 5%;
  min-width: 2%;
  max-width: 8%;
}

.profile-text {
  margin-left: 45%;
}
.recents-text {
  color: #0e3379;
  margin-left: 10%;
}
.text {
  margin-left: 55%;
  color: #0e3379;
}
.title-box {
  display: flex;
}
.recents-box {
  margin-right: 10%;
  margin-bottom: 10%;
}

.action-button {
  color: #2699fb;
  display: flex;
  justify-content: center;
}
.three-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 35%;
  margin-top: 2%;
}
.friends-format {
  margin-right: 15%;
}
.profile-icon {
  margin-right: 15%;
  margin-left: 5%;
}
.post {
  margin-right: 5%;
  margin-left: 20%;
}
.main-options {
  display: flex;
  flex-direction: column;
}
// Search bar
* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 5.4px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
