<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="entire-page">
    <!-- Entire page -->
    <div class="main-layout">
      <div class="left-column">
        <!-- Profile picture!! School logo or delete -->
        <div class="logo-layout">
          <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="logo" />
        </div>

        <div class="title-categories">
          <!-- Specifics text-->
          <div class="specific-text-layout">
            <button
              mat-icon-button
              type="button"
              routerLink="/main"
              color="primary"
              class="action-button"
            >
              <p class="specifics-text" >Specific Pages:</p>
            </button>
          </div>

          <!-- categeory filter box -->
          <div
          class="input-boxs" >
          
            <mat-selection-list [multiple]="false" class="mat-list-text" >
              <mat-list-option 
                *ngFor="let opt of specificOptions"
                [value]="opt"
              >
                {{ opt }}
              </mat-list-option>
            </mat-selection-list>
            
          </div>
        </div>
      </div>

      <!-- middle -->
      <div class="middle-column-large">
        <!-- Search text field -->
        <div class="middle-column">
          <!-- Search Bar -->
          <form class="search">
            <input
              type="text"
              class="search-input"
              placeholder="Search.."
              name="search"
            />
            <button type="submit">
              <span class="material-icons">search</span>
            </button>
          </form>
        </div>
        <!-- Category box -->

        <div
          class="input-boxs top_scroll " >
          <mat-selection-list class="horizontal_list"
            #searchList
            [(ngModel)]="selectedOption"
            (ngModelChange)="onSearchSelection($event)"
            [ngModelOptions]="{ standalone: true }"
            [multiple]="false"
          >
            <mat-list-option
              *ngFor="let opt of searchOptions"
              [value]="opt.value"
            >
              {{ opt.name }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>

      <!-- right -->
      <div class="right-column">
        <div class="recents-box">
          <!-- Recents tetx -->
          <div>
            <p class="recents-text">Recents:</p>
          </div>

          <!-- Recents box -->
          <div>
            <div
              class="outside-input-boxs recents"
              
            >
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
