.entire-page {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-layout {
  display: flex;
  flex-direction: row;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 10% 0% 12%;
}
.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 10% 0% 10%;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 10% 0% 10%;
}
.logo {
  border-radius: 50%;
  height: 85%;
  width: 85%;
}
.logo-layout {
  display: flex;
  justify-content: center;
}
.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specific-text-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specific-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}
.outside-input-boxs {
  border: solid rgb(17, 24, 122);
  background-color: rgb(235, 235, 245);
  border-radius: 15%;
}

.search-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
}
.search-textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 15%;
}

.material-icons-search {
  color: #244bce;
  width: 30%;
  min-width: 15%;
  max-width: 70%;
}

.category-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-icons-profile {
  color: #244bce;
  width: 5%;
  min-width: 2%;
  max-width: 8%;
}

.profile-text {
  margin-left: 40%;
}

.material-icons-up-arrow {
  color: #2699fb;
  padding: 2px;
}

.text {
  padding: 10% 15% 1% 5%;
  color: #0e3379;
}
.title-box {
  display: flex;
}
.recents-box {
  margin-right: 10%;
}
.profile-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  margin-right: 15%;
}
