@media (max-width: 500px) {
  .content {
    display: flex;
    position: relative;
    padding: 2% 9% 2%;
    height: 79vh;
    justify-content: center;
  }
}
@media (max-width: 500px) and (max-height: 478px) {
  .content {
    position: relative;
    padding: 2% 9% 2%;
    height: 9vh;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .main-text {
    padding: 8% 2% 0 0;
    font-size: 3vw;
    line-height: initial;
    color: #0e3379;
    font-family: "Helvetic Neue", "Courier New", Courier;
  }
}

@media (max-width: 767px) {
  .main-text-small {
    padding: 8% 2% 0 0;
    font-size: 4vw;
    line-height: initial;
    color: #0e3379;
    font-family: "Helvetic Neue", "Courier New", Courier;
  }
}
@media (max-width: 500px) {
  .main-text-small {
    padding: 8% 2% 0 0;
    font-size: 5vw;
    line-height: initial;
    color: #0e3379;
    font-family: "Helvetic Neue", "Courier New", Courier;
  }
}
.log-in-box {
  box-sizing: border-box;
  padding: 0% 5% 5% 5%;
  border: 1px solid gray;
  border-radius: 16px;
  width: 100%;
  display: flex;
}

.forgot-password {
  margin: 8px 0;
  font-size: 16px;
  color: #0e3379;
  font-family: "Helvetic Neue", "Courier New", Courier;
}

.action-button {
  font-family: "Helvetic Neue", "Courier New", Courier;
}
@media (max-height: 545px) {
  .top {
    margin-top: 3%;
  }
}
@media (min-width: 511px) {
  .tag {
    color: #0e3379;
    font-family: "Helvetic Neue", "Courier New", Courier;
    margin: 3% 0;
    font-size: 17px;
  }
}
@media (max-width: 511px) {
  .tag {
    display: none;
  }
}

.text-input {
  width: 100%;
  font-family: "Helvetic Neue", "Courier New", Courier;
  height: 9vh;
  font-size: large;
}
@media (max-width: 700px) and (min-width: 402px) {
  .text-input {
    width: 100%;
    font-family: "Helvetic Neue", "Courier New", Courier;
    height: 9vh;
    font-size: medium;
  }
}
@media (max-width: 401px) {
  .text-input {
    width: 100%;
    font-family: "Helvetic Neue", "Courier New", Courier;
    height: 9vh;
    font-size: small;
  }
}
.side-spacer {
  width: 25%;
}
@media (max-width: 510px) {
  .side-spacer {
    display: none;
  }
}
@media (min-width: 511px) {
  .row {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }
}
@media (max-width: 510px) {
  .column {
    display: flex;
    flex-direction: column;
  }
}
