 CornerMainLogo {
   <img Src=ProperInAppLogo.jpeg;
    width:1923;
    height:559.04;
    left:-51;
    top:-30;
    border-color: #FFFFFF;
    border-radius: 7%;
   >
 }

    <script>
message.normal {
    <p>"Enhance your University experience with Scholarly"</p>
    position: fixed;
    width:1044
    height:47
    left: 1141.05
    top:352.16
    font-style: Hoeflertext;
    font-size: 47px; 
    border-color: #0E3379;
    </script>
    } }
    
    {
    p {
    outline-style: solid;
    Width: 761.42
    Height: 599.49
    left: 1141.05
    top:352.16
    border-color: #707070
    border-radius: 46%;
    }
    
    
    input{
    Width: 489.24
    Height: 84.99
    left: 1174.36
    top: 391.21
    border-radius: 7%
    border-color: #707070
    }

    
    input{
    width: 489.24
    Height: 84.99
    left: 1174.36
    top: 516.39
    border-radius: 7%
    border-color: #707070
    }

    clear{
        <span class="material-icons">
</span>
    Width: 40
    Height: 40
    left: 1607
    top: 414
    border-color: #F1F9FF
    }

    clear{
        <span class="material-icons">
</span>
    Width: 40
    Height: 40
    left: 1607
    top: 540
    border-color: #F1F9FF
}

    <script>
    <p> type: button 
    width: 265.97
    height: 65.5
    left: 1333
    top: 624.5
    border-color: #3678E2
    </p>
    text.regular {
    Text: “Log In”, style: Hoeflertext 
    text-Size: 55
    border-color: #0F0E0E ;
    border: #FFFFFF;
    border-radius: 7%;
    </script>
    }
    
    { 
    type: button text=”Forgot Password?”
    style: Hoefler Text
    textSize: 55 Regular
    width:156
    height: 121
    left: 1380.5
    top: 631.5
    border-color:#0F0E0E
    border: #FFFFFF
    }
    
    
    <script> 
        {
    <p> “Or” </p>
    width: 42
    height: 134
    left: 1445.39
    top: 747.23
    font-style: HoeflerText
    border-color: #FFFFFF
    border: #707070
    </script>
    }
    
    { 
    Type: button onclick
    width: 626
    height: 85
    left: 1147
    top: 811
    border-radius: 7%
    border-color: #C7D6EF
    border: #707070
    }
    
    <footer>
    <p> “Create New Account</p>
    creatingAccount.regular{
    font-style: HoeflerText
    font-size: 65px
    border-color: #0E3379
    border: #170505
    Width: 575
    Height: 65
    left: 1186.47
    top: 835.88
    }
    </p>
    </footer>