.main-content {
  position: relative;
  padding: 24px 16px 16px;
  font-size: 16px;
  max-width: 750px; // size of the header image

  .main-text {
    padding: 48px 32px 0 0;
    font-size: 32px;
    line-height: 32px;
    color: #0e3379;
  }

  .log-in-box {
    padding: 16px;
    border: 1px solid gray;
    border-radius: 16px;

    .forgot-password {
      margin: 8px 0;
      font-size: 14px;
    }

    .action-button {
      font-size: 16px;
      width: 50%;
    }

    p {
      font-size: 20px;
      margin: 0 0 16px;
      color: #0e3379;
    }
  }
}

.email-suffix {
  padding-right: 8px;
}

.text-input {
  width: 100%;
}

.side-spacer {
  width: 25%;
}
