<!-- Main logo -->
<div>
  <div>
    <img Src="../../assets/Pics/ProperInAppLogo.jpeg" />
  </div>

  <div class="main-content" fxLayout="row">
    <span class="main-text">
      <p>Enhance your University experience with Scholarly</p>
    </span>

    <!-- Container holding the log in form -->
    <div class="log-in-box" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field class="text-input"
        ><mat-label>Email Address</mat-label>
        <input matInput />
        <span matSuffix class="email-suffix">@mail.utoronto.ca</span>
        <button
          color="primary"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="text-input"
        ><mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" />
        <button
          color="primary"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" class="action-button">
        Log In
      </button>
      <button mat-flat-button class="forgot-password">Forgot Password?</button>
      <p>Or</p>
      <button mat-raised-button color="primary" class="action-button">
        Create New Account
      </button>
    </div>
  </div>
</div>
