.content {
  position: relative;
  padding: 24px 16px 16px;
  font-size: 16px;
  max-width: 80%;
  @media (min-width: 767px) {
    .main-text {
      padding: 48px 32px 0 0;
      font-size: 3vw;
      line-height: initial;
      color: #0e3379;
      font-family: "Helvetic Neue", "Courier New", Courier;
    }
  }

  @media (max-width: 767px) {
    .main-text-small {
      padding: 48px 32px 0 0;
      font-size: 4vw;
      line-height: initial;
      color: #0e3379;
      font-family: "Helvetic Neue", "Courier New", Courier;
    }
  }

  .log-in-box {
    padding: 16px;
    border: 1px solid gray;
    border-radius: 16px;

    .forgot-password {
      margin: 8px 0;
      font-size: 14px;
      color: #0e3379;
      font-family: "Helvetic Neue", "Courier New", Courier;
    }

    .action-button {
      width: 50%;
      font-family: "Helvetic Neue", "Courier New", Courier;
    }

    p {
      font-size: 20px;
      margin: 0 0 16px;
      color: #0e3379;
      font-family: "Helvetic Neue", "Courier New", Courier;
    }
  }
}

.email-suffix {
  padding-right: 8px;
}

.text-input {
  width: 100%;
  font-family: "Helvetic Neue", "Courier New", Courier;
}

.side-spacer {
  width: 25%;
}
