 <div class="CornerMainLogo" >{
   <img Src=ProperInAppLogo.jpeg;
   style="
    width:1923;
    height:559.04;
    left:-51;
    top:-30;
    border-color: #FFFFFF;
    border-radius: 7%;"
   >
</divclass>
 }

    <script style="
    position:fixed;
    width:1044px;
    height:47px;
    left: 1141.05px;
    top:352.16px;
    font-style: Hoeflertext;
    font-size: 47px; 
    border-color: #0E3379;">
    <p>"Enhance your University experience with Scholarly"</p>
    </script>    


    <span {
    style="outline-style: solid;
    width: 761.42
    height: 599.49
    left: 1141.05
    top:352.16
    border-color: #707070
    border-radius: 46%;"></span>
    
    
    input {
    <span 
   style="width: 489.24px;
    height: 84.99px;
    left: 1174.36px;
    top: 391.21px;
    border-radius: 7%;
    border-color: #707070;"></span>
    }

    
    input{
        <span
    style="width: 489.24px;
    height: 84.99px;
    left: 1174.36px;
    top: 516.39px;
    border-radius: 7%;
    border-color: #707070">
    </span>
    }

    clear{
        <span class="material-icons" style="width: 40px; height: 40px;
         left: 1607px;  top: 540px; border-color: #F1F9FF; ">

</span>
    }


    clear{
        <span class="material-icons" style="width: 40px; height: 40px;
         left: 1607px;  top: 540px; border-color: #F1F9FF; ">
</span>

}
<div text="Log In"></div>
    <button style="width: 265.97px;
    height: 65.5px;
    left: 1333px;
    top: 624.5px;
    border-color: #3678E2">>
    </div>
</button>

     .LogIn {
    style: Hoeflertext 
    text-Size: 55px;
    border-color: #0F0E0E ;
    border: #FFFFFF;
    border-radius: 7%;
     }
    

    
    <button style=
    "type:button 
    style:Hoefler Text
    textSize: 55 Regular
    width:156px
    height: 121px
    left: 1380.5px
    top: 631.5px
    border-color:#0F0E0E
    border: #FFFFFF">”Forgot Password?”</button>
    
    
    
    <script> 
    
    <p style="width: 42px;
    height: 134px;
    left: 1445.39px;
    top: 747.23px;
    font-style: HoeflerText;
    border-color: #FFFFFF;
    border: #707070;"> “Or” </p>
    
    </script>
    
    
    
    <button style="type: button
    width: 626px;
    height: 85px;
    left: 1147px;
    top: 811px;
    border-radius: 7%
    border-color: #C7D6EF
    border: #707070"></button>
    
    
    <footer>
    <p style= "font-style: HoeflerText
    font-size: 65px
    border-color: #0E3379
    border: #170505
    Width: 575px
    Height: 65px
    left: 1186.47px
    top: 835.88px"> “Create New Account</p>
    
    creatingAccount.regular{
    <p
    style="font-style: HoeflerText
    font-size: 65px
    border-color: #0E3379
    border: #170505
    Width: 575px;
    Height: 65px;
    left: 1186.47px;
    top: 835.88px;">
    </p>
    </footer>